<ion-header>
  <ion-navbar>
    <!--<ion-buttons left>-->
    <!--<button ion-button icon-only (click)="viewCtrl.dismiss()">-->
    <!--<ion-icon name="arrow-back"></ion-icon>-->
    <!--</button>-->
    <!--</ion-buttons>-->
    <!-- <ion-title>Image View</ion-title> -->
    <ion-buttons *ngIf="pictureFrom=='Gallery'" end padding-right>
      <button ion-button icon-only (click)="presentProfileModal()">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="show-picture">
  <img class="picture" [src]="pictureSrc">
</ion-content>
