page-show-picture {
  background-color: black;

  .picture {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .scroll-content {
    background: black;
  }

  .toolbar-background {
    background: black;
  }

  .toolbar-background-md {
    border-color: black;
  }
}
