<ion-header>
  <ion-navbar>
    <ion-title>
      About us & Policies
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      Share your experience
    </ion-card-header>
    <ion-card-content>
      <p>DealSocio is a location-based social application. It allows you to connect with your friends and strangers to
        explore your city and share happy moments with others and make friends on the way.</p>

      <p>As a user of this app, you simply need to create an event using a geo location and based on other people's
        location limit, they can see the event in their feed and have this unique opportunity to send an interest. If
        you accept, you can meet, get together in DealSocio's chat app and make a fun plan.</p>

      <p>Adding others in friends list helps you create private events which are only visible to your friends in that
        location. Once connected, users can connect directly over app chat.</p>

      <p>If you're visiting a new city and looking to meet new people in the area, create an event with the date and
        place and if lucky, you're in for a fun evening! It's a great way to keep your friends close or make new ones :)
      </p>

      <p>DealSocio aims to provide a lot more in future with app specific deals and offers for users. </p>
      <p>
        <a style="display: inline-block; padding-top: 15px;" href="https://dealsocio.com/privacy-policy.html">Privacy Policy</a>
        <a style="display: inline-block; padding-top: 15px; float: right;" href="https://dealsocio.com/terms.html">Terms and Conditions</a>
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>