<ion-content padding class="background-image">

  <div id="login-button">
    <!--<button (click)="openLocation()">Check Permission</button>-->
    <form [formGroup]="loginForm" (ngSubmit)="manualLogin(loginForm)" novalidate>
      <ion-list class="loginList" no-lines>
        <ion-row>
          <ion-col col-12>
            <label style="display: block; float: left;">
              <input #termChecked type="checkbox" class="checkbox-text" (click)="updateTerm(termChecked)">
              <span>I agree to the <a href="https://www.dealsocio.com/terms.html">T.O.S</a> and <a
                  href="https://www.dealsocio.com/privacy-policy.html">privacy policy</a> </span>
            </label>
          </ion-col>
          <ion-col col-6>
            <ion-input style="background: white;" class="border-bottom" type="number" formControlName="phone"
              name="phone" minlength="10" maxlength="10"></ion-input>
            <!--<div ion-text *ngIf="phone.errors && (phone.dirty || phone.touched)" class="alert alert-danger" color="danger">-->
            <!--<div [hidden]="!phone.errors.required" style="text-align: left; float: left; padding-top: 10px;">-->
            <!--Number is required-->
            <!--</div>-->
            <!--</div>-->
          </ion-col>
          <ion-col col-3>
            <button [disabled]="!termChecked?.checked || !loginForm.valid" [class.disabled]="!termChecked?.checked"
              class="login-btn" ion-button type="submit" block style="margin: 0px; height: 40px;">Login</button>
          </ion-col>
          <ion-col col-1 style="padding: 0px; padding-top: 18px; text-align: center;">
            OR
          </ion-col>
          <ion-col col-2>
            <!-- <button [disabled]="!termChecked?.checked" [class.disabled]="!termChecked?.checked" ion-button full (click)="facebooklogin()" style="font-size: 13px; letter-spacing: 1px;">
              <ion-icon name="logo-facebook"></ion-icon>
            </button> -->
            <ion-icon class="fb-icon" [class.disabled]="!termChecked?.checked" (click)="facebooklogin()"
              name="logo-facebook"></ion-icon>
          </ion-col>
        </ion-row>
        <!-- <ion-item id="phone-input">
        </ion-item> -->

      </ion-list>
    </form>
    <!--<button [disabled]="!termChecked?.checked" [class.disabled]="!termChecked?.checked" id="googleLogin" ion-button full color="danger" icon-left (click)="login()">-->
    <!--<ion-icon name="logo-googleplus"></ion-icon> Login With Google-->
    <!--</button>-->
    <div>
      <button [disabled]="!termChecked?.checked" id="login" class="signup-btn ft-14" ion-button (click)="onSignup()"
        color="light" block>SIGN UP</button>
    </div>
  </div>
</ion-content>