page-login {
    background: #f8f8f8;
    .background-image {
        -webkit-background-size: cover;
        background: url('../assets/imgs/splash.png') no-repeat center center fixed;
        background-position-y: -100px;
        -moz-background-size: cover;
         background-size: cover;
  }
  #login-button {
    position: relative;
    width: 90%;
    margin: auto;
    margin-top: 65vh;
    text-align: center;
    label{
        span{
            font-size: 10px;
            letter-spacing: 1px;
            padding-left: 5px;
            color: #928e8e;
            text-transform: uppercase;
            position: relative;
            top: -3px;
            a{
                color: #9b99ec;
                text-decoration: none;
            }
        }
    }
    #phone-input{
        padding: 0px;
        margin-bottom: 10px;
        & + div{
            margin-bottom: 10px;
            color: #fd2727;
            div{
                text-align: left;
            }
        }
    }
    .fb-icon{
        font-size: 50px;
        color: #9b99ec;
        position: relative;
        top: -3px;
        &.disabled{
            opacity: 0.3;
            pointer-events: none;
        }
    }
    #login{
        background-color: #160909;
        margin-top: 20px;
        background: #46e4c0;
        color: #ffffff;
        height: 40px;
        letter-spacing: 1px;
        font-weight: 500;
        font-size: 15px;
    }
    #googleLogin{
        margin-top: 10px;
        &:disabled{
            opacity: 0.4;
        }
    }
    
    #facebookLogin{
        margin-top: 5px;
        &:disabled{
            opacity: 0.4;
        }
    }
}
.fixed-content{
    display: none;
}

.scroll-content{
    margin-top: 0px !important;
}

}
