<!--
  Generated template for the NewEventPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons end padding-right>
      <button ion-button icon-only *ngIf="!toggled" color="royal" (click)="goToChat()">
        <span *ngIf="unreadCount > 0" class="unreadCountClass">{{unreadCount}}</span>
        <img src="assets/icons/newicons/chat-white.png" height="24px" width="24px" >
      </button>
      <button ion-button icon-only *ngIf="!toggled" color="royal" (click)="goToNotifications()">
        <span *ngIf="unreadNotify > 0" class="unreadCountClass">{{unreadNotify}}</span>
        <img src="assets/icons/newicons/notifications-white.png" height="24px" width="24px" >
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content class="has-header">
  <super-tabs>
    <super-tab [root]="page1" title="Users"></super-tab>
    <super-tab [root]="page2" title="Places"></super-tab>
  </super-tabs>
</ion-content>