  .ios{
    page-search-tab {
      .fixed-content{
        display: none !important;
      }
      .scroll-content{
        padding: 0px !important;
        margin-top: 62px !important
        //margin-top: 41px !important;
        //margin-bottom: 0px !important;
      }
      super-tabs-container > div{
        top: -41px !important;
      }
      .searchbar-search-icon{
        margin-left: 0px !important;
        & + input{
          padding-left: 30px !important;
        }
      }
  }
}
