page-gallery {
  .scroll-content {
    padding-top: 0px !important;
  }

  ion-conten {
    Background-color: #000 !important;
  }

  .image-container {
    min-height: 140px;
    image-orientation: from-image;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    img {
      width: 99%;
      margin: 0px auto;
    }
  }

  .profilePic {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .fab-md {
    height: 45px;
    width: 45px;
    margin-top: -5px;
  }
}



.ios{
  page-gallery{
    .scroll-content{
      margin-top: 63px !important;
    }
    ion-fab{
      top: 20px !important;
      right: 20px !important;
      width: 30px;
    }
    .fab{
      height: 30px;
      width: 30px;
    }
    .fab-close-active{
      //position: relative;
      //top: -15px !important;
    }
    .fab-list-active{
      position: relative;
      top: -60px;
      left: -10px;
    }
    .fab-close-active .fab-close-icon{
      top: -13px;
    }
  }
}