<!--
  Generated template for the GalleryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Gallery</ion-title>
        <!--<ion-buttons end>-->
        <!--<button ion-button icon-only (click)="openSheet()">-->
        <!--<ion-icon name="ios-camera"></ion-icon>-->
        <!--</button>-->
        <!--</ion-buttons>-->
    </ion-navbar>

</ion-header>
<ion-fab top right (click)="hideFab(true)" #fab>
    <button ion-fab>
        <ion-icon name="ios-camera"></ion-icon>
    </button>
    <ion-fab-list side="bottom">
        <button ion-fab (click)="takePicture()">
            <ion-icon name="camera"></ion-icon>
        </button>
        <button ion-fab (click)="getImage()">
            <ion-icon name="image"></ion-icon>
        </button>
    </ion-fab-list>
</ion-fab>
<ion-content>
    <div class="content-sec" style="padding: 10px 0px; background: #f1f1f1;">
        <img src="{{myprofilepic}}" class="profilePic">
        <!-- <h4>{{profiledetails.firstName + profiledetails.lastName}}</h4> -->
    </div>
    <!--<ion-col col-6 col-md-4 col-xl-3 style="border-radius: 50%; height: 150px; width: 150px;">-->
    <!--<div (click)="showImage(myprofilepic)" class="image-container" [style.background-image]="'url('+myprofilepic+')'"></div>-->
    <!--</ion-col>-->
    <ion-grid style="padding: 2px;">
        <ion-row>
            <ng-container *ngFor="let image of userImages">
                <ion-col col-4 col-md-4 col-xl-3
                    style="padding: 2px !important; height: 115px !important; overflow: hidden !important;">
                    <!--<div (click)="showImage(baseURL+image)"  class="image-container" [style.background-image]="'url('+baseURL+''+image+'_120?timestamp='+this.mytime+')'" ></div>-->
                    <div (click)="showImage(baseURL+image)" class="image-container">
                        <img src="{{baseURL+image+'_160?timestamp='+this.mytime}}" onerror="this.style.display='none'">
                    </div>
                </ion-col>
            </ng-container>
        </ion-row>
    </ion-grid>
</ion-content>