page-tabs {
    .md{
  .tabbar, .tabs-ios, .tabs-md , .tabs-wp{
    .tab-button-icon {
        background-repeat:no-repeat;
        background-position:center;
        height:24px;
        width:24px;
        background-size:contain;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        &:before {
            display:none;
        }
    }
}

    .tabs-md {
      a[aria-selected=false]{
         .tab-button-icon[ng-reflect-name=home], .tab-button-icon[aria-label=home] {
          background-image: url(../assets/icons/home.png);
        }
        .tab-button-icon[ng-reflect-name=navigate], .tab-button-icon[aria-label=navigate] {
          background-image: url(../assets/icons/navigate.png);
        }
        .tab-button-icon[ng-reflect-name=calendar], .tab-button-icon[aria-label=calendar] {
          background-image: url(../assets/icons/event.png);
        }
        .tab-button-icon[ng-reflect-name=search], .tab-button-icon[aria-label=search] {
          background-image: url(../assets/icons/search1.png);
        }
        .tab-button-icon[ng-reflect-name=star], .tab-button-icon[aria-label=star] {
            background-image: url(../assets/icons/stars.png);
          }
          .tab-button-icon[ng-reflect-name=person], .tab-button-icon[aria-label=person] {
            background-image: url(../assets/icons/contact-b.png);
          }
      }

     a[aria-selected=true] {
       //führ eventuellen text
       //span {
          //color: #f00; //whatever colour you want to use for the text
        //}
        .tab-button-icon[ng-reflect-name=home], .tab-button-icon[aria-label=home] {
            background-image: url(../assets/icons/home_o.png);
          }
          .tab-button-icon[ng-reflect-name=navigate], .tab-button-icon[aria-label=navigate] {
            background-image: url(../assets/icons/navigate.png);
          }
          .tab-button-icon[ng-reflect-name=calendar], .tab-button-icon[aria-label=calendar] {
            background-image: url(../assets/icons/event_o.png);
          }
          .tab-button-icon[ng-reflect-name=star], .tab-button-icon[aria-label=star] {
              background-image: url(../assets/icons/star.png);
            }
            .tab-button-icon[ng-reflect-name=person], .tab-button-icon[aria-label=person] {
              background-image: url(../assets/icons/contact-y.png);
            }
            .tab-button-icon[ng-reflect-name=search], .tab-button-icon[aria-label=search] {
              background-image: url(../assets/icons/search_O.png);
            }
      }
    }

    .tabs-wp {
        a[aria-selected=false]{
           .tab-button-icon[ng-reflect-name=home], .tab-button-icon[aria-label=home] {
            background-image: url(../assets/icons/home.png);
          }
          .tab-button-icon[ng-reflect-name=navigate], .tab-button-icon[aria-label=navigate] {
            background-image: url(../assets/icons/navigate.png);
          }
          .tab-button-icon[ng-reflect-name=calendar], .tab-button-icon[aria-label=calendar] {
            background-image: url(../assets/icons/event.png);
          }
          .tab-button-icon[ng-reflect-name=star], .tab-button-icon[aria-label=star] {
              background-image: url(../assets/icons/stars.png);
            }
            .tab-button-icon[ng-reflect-name=person], .tab-button-icon[aria-label=person] {
              background-image: url(../assets/icons/contact-b.png);
            }
        }

       a[aria-selected=true] {
         //führ eventuellen text
         //span {
            //color: #f00; //whatever colour you want to use for the text
          //}
          .tab-button-icon[ng-reflect-name=home], .tab-button-icon[aria-label=home] {
              background-image: url(../assets/icons/home.png);
            }
            .tab-button-icon[ng-reflect-name=navigate], .tab-button-icon[aria-label=navigate] {
              background-image: url(../assets/icons/navigate.png);
            }
            .tab-button-icon[ng-reflect-name=calendar], .tab-button-icon[aria-label=calendar] {
              background-image: url(../assets/icons/event.png);
            }
            .tab-button-icon[ng-reflect-name=star], .tab-button-icon[aria-label=star] {
                background-image: url(../assets/icons/star.png);
              }
              .tab-button-icon[ng-reflect-name=person], .tab-button-icon[aria-label=person] {
                background-image: url(../assets/icons/contact.png);
              }
        }
      }
    }
}