<ion-tabs  #myTabs>
  <ion-tab [root]="tab1Root" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabIcon="search"></ion-tab>
  <ion-tab [root]="tab3Root" tabIcon="calendar"></ion-tab>
  <ion-tab [root]="tab5Root" tabIcon="star"></ion-tab>
  <ion-tab [root]="tab4Root" tabIcon="person"></ion-tab>
</ion-tabs>
