<ion-header>
  <ion-toolbar color="whatsapp">
    <ion-title>Send Location</ion-title>

    <ion-buttons end>
      <button ion-button (click)="sendLocation()"><ion-icon name="ios-send"></ion-icon></button>
      <button ion-button class="dismiss-button" (click)="viewCtrl.dismiss()"><ion-icon name="close"></ion-icon></button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="location-message-content">
  <ion-list>
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" style="width: 100%">
      <agm-marker [latitude]="lat" [longitude]="lng" (dragEnd)="dragEnded($event)" [markerDraggable]="true" ></agm-marker>
    </agm-map>
    <ion-item (click)="reloadLocation()">
      <ion-icon name="compass" item-left></ion-icon>
      <h2>Send your current location</h2>
      <p *ngIf="accuracy !== -1">Accurate to {{accuracy}} meters</p>
    </ion-item>
  </ion-list>
</ion-content>
