.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default, .toolbar-title-md{
	color: #FFF;
}
.searchbar-md .searchbar-input{
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}
.lastMessageTime{
	float: right;
	font-size: 12px;
	
}
.unread-class{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #9b99ec;
	display: inline-block;
	float: right;
	margin-top: 6px;
}
.fixed-content, .scroll-content{
	margin-top: 56px !important;
}