<!--
  Generated template for the ChatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar no-border-bottom>
    <ion-title>Chat</ion-title>
    <ion-buttons end >
      <!-- <button ion-button icon-only (click)="presentActionSheet()">
        <ion-icon name="more"></ion-icon>
      </button> -->
      <button ion-button icon-only (click)="invertSearchBar()">
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-button icon-only (click)="goToNewChatUserList()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-searchbar [showCancelButton]="false" placeholder="Search..." *ngIf="showSearchBar" [(ngModel)]="search_text">
</ion-searchbar>

</ion-header>

<ion-content [ngStyle]="setScrollContentStyle()">
	<ion-list>
	  <ion-item *ngFor="let chat of chats | filter:'userName':search_text" (click)="goToChatWindow(chat)" (press)="pressEventChat(chat)">
	    <ion-avatar item-start>
	      <img src="{{baseURL + chat.userProfilePic}}">
	    </ion-avatar>
	    <h2>{{ chat.userName }} <span class="lastMessageTime">{{ chat.lastMessageTime | niceDateFormatPipe }}<br><span *ngIf="!chat.read" class="unread-class"></span></span></h2>
      <p *ngIf="chat.lastDataType == null">{{ chat.lastMessage }}</p>
	    <p *ngIf="chat.lastDataType == 'location'"><ion-icon name="locate"></ion-icon> <em>Location</em></p>
      <p *ngIf="chat.lastDataType == 'image'"><ion-icon name="image"></ion-icon> <em>Image</em></p>
      <p *ngIf="chat.lastDataType == 'gif'"><ion-icon name="image"></ion-icon> <em>GIF</em></p>
	  </ion-item>
	</ion-list>
</ion-content>
