page-placefeed {
  .mytitle {
    color: #E85F2F
  }

  .contentBack {
    background: #f6f6f6;
  }

  .detailDiv {
    padding: 10px 10px 0px 10px;
    line-height: 22px;
  }

  .myslider {
    height: 45vh;
    position: relative;
  }

  .scroll-content {
    padding: 0px !important;
  }

  .bar-button-default-md,
  .bar-button-clear-md-default,
  .bar-button-md-default {
    color: black;
    background-color: transparent;
  }

  .item-md ion-thumbnail {
    min-width: 0px;
    min-height: 0px;
  }

  .activeFlyer {
    border: none;
    padding: 8px 15px;
    border-radius: 0px;
    font-size: 16px;
    letter-spacing: 0.5px;
    color: white;
    background: #9672ec;
    font-weight: 600;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .fabDesign {
    background: #9126EC;
    border-radius: 50%;
    font-weight: 700;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4392156862745098);
    right: 25px;
    bottom: 15px;
  }

  .img-radius {
    border-radius: 50%;
    height: 60px !important;
    width: 60px !important;
  }

  .info-title {
    font-weight: bold;
    font-size: 1.5rem;
  }

  .padding {
    padding-top: 17px;
  }

  .row {
    margin-left: 0px;
  }

  .skip-next-button-margin {
    margin-top: -70px;
  }

  .slides-padding-bottom {
    padding-bottom: 18px;
  }

  .swiper-pagination-bullet-active {
    background: #ffffff;
  }

  ion-slides {
    display: block;
    width: 100%;
  }

  .swiper-pagination {
    margin-top: -10px;
    text-align: right;
  }

  .slide-zoom {
    text-align: left;
    display: block;
    width: 100%;
    margin-left: 10px;
    margin-bottom: -100px;
    color: white;
  }

  .header {
    color: white;
    font-size: 1.5rem;
  }

  .swiper-pagination-fraction,
  .swiper-pagination-custom,
  .swiper-container-horizontal>.swiper-pagination-bullets {
    bottom: 22px;
  }

  .description {
    padding: 5px 0px;
    color: grey;
  }

  .descData {
    font-size: 14px;
  }

  .createPlan {
    background-image: linear-gradient(to right, #9b99ec, #a77aef);
    color: white !important;
    height: 45px;
    font-size: 18px;
    letter-spacing: 1px;
  }

  .myOverlay {
    background: -webkit-linear-gradient(#270404, #271414);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 100%;
    padding: 10px 15px;
    position: absolute;
    z-index: 99;
    bottom: 0px;
    opacity: 0.7;
    color: #fff;

    h4 {
      font-size: 22px !important;
      font-weight: 500;
    }

    p {
      font-size: 14px !important;
      font-weight: 500;
    }
  }

  .store-name {
    margin-top: 0px;
    font-size: 22px;
    margin-bottom: 2px;
    color: #353535;
  }

  .store-location {
    margin: 0px;
    color: grey;
    font-size: 14px;
  }

  .row-fixes {
    font-size: 20px;
    padding: 0px 5px;
  }

  .restra-color {
    font-size: 16px;
    color: #3b3b3b;
  }

  .storeList {
    padding: 7px;
    margin: 15px;
    background: white;
    border-radius: 5px;
    box-shadow: 2px 3px 6px rgba(160, 160, 160, 0.4117647058823529);
  }

  .font-fixes {
    font-size: 18px;
  }

  .my-category {
    background-color: #ccc;
    padding: 2px 10px;
    border-radius: 20px;
    font-size: 18px;
  }

  .flyer-fixes {
    background-color: #ccc;
    padding: 2px;
    border-radius: 20px;
    font-size: 18px;
    letter-spacing: 0.5px;
  }

  .create-plan {
    background: #fac9af;
    color: #353535 !important;
    height: 45px;
    font-size: 18px;
    letter-spacing: 1px;
  }
}

.h-95 {
  height: 95vh;
}

page-placefeed .bar-button-default-md {
  color: white !important;
}

page-placefeed .fab-md {
  background: transparent !important;
  box-shadow: none !important
}

page-placefeed .swiper-pagination-fraction, page-placefeed .swiper-pagination-custom, page-placefeed .swiper-container-horizontal > .swiper-pagination-bullets{
  display: none;
}


.ios{
  page-placefeed .fabDesign{
    background: transparent !important;
  }
}