<ion-header>
  <ion-navbar>
    <ion-title class="mytitle">{{ exp?.name }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="contentBack">
  <ion-fab bottom right class="fabDesign">
    <button ion-fab mini (click)="createplan()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
  <div class="no-result-found" *ngIf="nodata">
    <p>No Place Listed</p>
  </div>
  <div class="storeList" *ngFor="let store of metadata; let i = index;">
    <div style="position: relative;">
      <span class="store-location"
        style="position: absolute; height : 20px; left: 0px; top: 8px; float: right; z-index: 10;">
        <!-- {{ store.distance }} Away -->
        <span>
          <!-- <ion-icon name="flash" class="restra-color"></ion-icon> -->
          <span *ngIf="store.activeFlyers?.length!=0" class="activeFlyer">{{ store?.activeFlyers?.length }}
            Flyers</span>
          <span *ngIf="store.activeFlyers?.length==0" class="activeFlyer">0 Flyer</span>
        </span>
      </span>
      <ion-slides pager="true" style="pointer-events: none;">
        <!-- <ion-slide pager="true" *ngFor="let backImage of store.pics" class="card-background-page " [style.background-image]="getsana(baseURL + backImage)">
					</ion-slide> -->
        <ion-slide pager="true" class="card-background-page " style="min-height: 238px; height: 100%; width: 100% !important; background-size: cover !important;
          background-repeat: no-repeat; background-position: center center;"
          [style.background-image]="getsana(baseURL + store?.profilePic)">
        </ion-slide>
      </ion-slides>
    </div>
    <!-- <ion-row class="row-fixes">
      <ion-col col-1 text-center>
        <ion-icon name="restaurant" class="restra-color"></ion-icon>
      </ion-col>
      <ion-col col-11>
				<span *ngFor="let cat of store.categories" class="my-category">{{cat}} </span>
			</ion-col>
    </ion-row>

	  <ion-row class="row-fixes">
	    <ion-col col-1 text-center>
	      <ion-icon name="restaurant" class="restra-color"></ion-icon>
	    </ion-col>
	    <ion-col col-11 >
	      <span *ngFor="let tagUrl of tagIconUrls[i]"> <img [src]="tagUrl" height="36px" width="36px"> </span>
	    </ion-col>
		</ion-row> -->
    <div class="detailDiv">
      <h4 class="store-name" style="margin-top: 5px;">
        {{ store.storeName }}
      </h4>
      <p class="store-location">
        {{ store.locality }}
        <ng-container *ngIf="store?.city">, </ng-container> {{ store.city }}
      </p>
    </div>

    <ion-row class="row-fixes">
      <ion-col col-1 text-center>
        <ion-icon name="information-circle" class="restra-color"></ion-icon>
      </ion-col>
      <ion-col col-11 text-left class="description">
        <span class="descData"> {{ store.description }} </span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 text-center>
        <button ion-button round block (click)="createplan(store)" class="createPlan">Create Plan</button>
      </ion-col>
    </ion-row>
  </div>
  <ion-infinite-scroll threshold="100px" *ngIf="noapiCall" (ionInfinite)="getData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>