.normalToast {
	.toast-message {
		border-radius: 0.65rem !important;
		background: color($colors, primary);
		color: red
	}
}

.toast-container {
	background: #e8e8e8;
	border-radius: 5px;
}

.toast-wrapper {
	width: 80% !important;
	text-align: center !important;
	height: 35px !important;
	background: #fdfdfd !important;
	border: 1px solid #e0e0e0 !important;
	border-radius: 20px !important;

	&.toast-bottom {
		top: 55% !important;
	}

	&.toast-top {
		bottom: 55% !important;
	}

	.toast-message {
		color: #9b99ec !important;
		padding: 10px !important;
		font-size: 10px !important;
		letter-spacing: 1px !important;
		text-transform: capitalize !important;
		font-weight: 500 !important;
		line-height: 18px;
	}
}

page-myhome {
	.reportIcon {
		position: absolute;
		margin-top: 0px;
		height: 25px !important;
		width: 25px !important;
		top: 2px;
		right: 3px;
		opacity: 1;
		border: 0px !important;
		background: white;
	}

	.experienceName {
		position: absolute;
		background: #9673ec;
		color: #ffffff;
		top: 0px;
		left: 0px;
		opacity: 1;
		border: 0px !important;
		padding: 7px 15px;
		border-radius: 0px 5px 5px 0px;
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 500;
		letter-spacing: 1px;
	}

	//#mycards1{
	//	transition: all 1s;
	//}
	#card-stack {
		width: 100%;
		margin: 0px auto;
		position: relative;
		padding-top: 50px;
	}

	#card-stack ion-card {
		border-radius: 5px;
		//	position: absolute;
		text-align: center;
		top: 3%;
		height: 90%;
	}

	Background-color:#FA873C;

	.scroll-content {
		padding-top: 0px !important;
		top: -50px !important;
	}

	.toolbar-title-md {
		padding: 0 12px;
		font-size: 2rem;
		font-weight: 500;
		color: white;
		text-align: -webkit-center;
		padding-left: 100px;
		display: inline-block;
	}

	.uninterested {
		border: 1px solid #b7b7b7;
		height: 50px;
		line-height: 45px;
		font-size: 2.5rem;
		border-radius: 50%;
		color: #ea440e
	}

	.interested {
		border: 1px solid #b7b7b7;
		height: 50px;
		line-height: 45px;
		font-size: 2.5rem;
		border-radius: 50%;
		color: #32CD32
	}

	.interestIcon {
		margin-top: 2px;
	}

	.item-md ion-thumbnail {
		min-width: 0px;
		min-height: 0px;
		max-width: 75rem;
		max-height: 75rem;
	}

	.img-radius {
		border-radius: 50%;
		height: 60px !important;
		width: 60px !important;
	}

	.info-title {
		font-weight: bold;
		font-size: 1.5rem;
	}

	.padding {
		padding-top: 17px;
	}

	.row {
		margin-left: 0px;
	}

	.header {
		color: white;
		font-size: 1.5rem;
	}

	ion-card img {
		width: 125px !important;
		height: 125px !important;
		display: inline;
		text-align: center !important;
		top: -10px;
		margin-top: -43px;
		border: 3px #fff solid;
		border-radius: 50%;
		box-shadow: 2px 3px 7px #0c0c0c47;
	}

	.interested-btn {
		span {
			font-size: 19px !important;
			-webkit-transform: rotate(-15deg);
			transform: rotate(-7deg);
			display: inline-block;
			position: relative;
			top: -4px;
		}

		background: #48f8c8 !important;
		font-family: 'Pacifico',
		cursive;
		height: 50px !important;
		box-shadow: 2px 3px 5px rgba(130, 128, 128, 0.16);
	}

	.uninterested-btn {
		font-size: 20px !important;
		border: 1px solid #d8d8d8 !important;
		border-radius: 50% !important;
		position: relative;
		top: 0px;
		height: 50px !important;
		width: 55px !important;
		color: #a5a5a5 !important;
		background: white !important;
		box-shadow: 2px 3px 5px rgba(130, 128, 128, 0.16);
	}
}


ion-content {
	Background-color: #FA873C;
}

.unreadCountClass {
	position: absolute;
	top: 2px;
	right: -5px;
	background: #FFF;
	color: #000;
	border-radius: 2px;
	padding: 2px;
	font-size: 10px;
	min-width: 15px;
}

.text-capitalize {
	text-transform: capitalize;
}

.f-size-18 {
	font-size: 18px;
}

.pad-lr-10 {
	padding-left: 10px;
	padding-right: 10px;
}


.ion-md-pin {
	height: 20px;
	width: 20px;
	background: url('./../assets/icons/newicons/navigate-darkgrey.png');
	background-size: 100%;
	background-repeat: no-repeat;

	&:before {
		content: '';
	}
}

.ion-md-calendar {
	height: 20px;
	width: 20px;
	background: url('./../assets/icons/newicons/calender.png');
	background-size: 100%;
	background-repeat: no-repeat;

	&:before {
		content: '';
	}
}

.ion-md-restaurant {
	height: 20px;
	width: 20px;
	background: url('./../assets/icons/newicons/dining-grey.png');
	background-size: 100%;
	background-repeat: no-repeat;

	&:before {
		content: '';
	}
}

.interested-icon {
	box-shadow: none !important;
	height: 35px !important;
	width: 35px !important;
}

.ion-md-locate {
	height: 20px;
	width: 20px;
	background: url('./../assets/icons/newicons/navigate-white.png');
	background-size: 100%;
	background-repeat: no-repeat;

	&:before {
		content: '';
	}
}


.btn-container {
	text-align: center;

	button {
		background: #9b99ec;
		display: inline-block;
		border-radius: 5px;
		color: white;
		font-size: 13px;
		font-weight: 500;
		letter-spacing: 1px;
		margin: 0px 5px;
		width: 130px;
		height: 35px;

		&.rejected {
			background: #ef6c52;
		}
	}
}

.back-button-md{
	margin-right: 0px !important;
}


.ios{
	.toolbar-title-ios{
		text-align: left !important;
	}
}