<ion-header>
  <ion-navbar>
    <ion-title style="text-align: center;color: white"></ion-title>
    <ion-buttons>
      <button ion-button>
        <ion-icon height="24px" width="24px" name="locate"></ion-icon> &nbsp;{{cityname}}
      </button>
    </ion-buttons>
    <ion-buttons end padding-right>
      <button ion-button icon-only *ngIf="!toggled" color="royal" (click)="goToChat()">
        <span *ngIf="unreadCount > 0" class="unreadCountClass">{{unreadCount}}</span>
        <img src="assets/icons/newicons/chat-white.png" height="24px" width="24px">
      </button>
      <button ion-button icon-only *ngIf="!toggled" color="royal" (click)="goToNotifications()">
        <span *ngIf="unreadNotify > 0" class="unreadCountClass">{{unreadNotify}}</span>
        <img src="assets/icons/newicons/notifications-white.png" height="24px" width="24px">
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="otherFunction()">
    <ion-refresher-content refreshingText="Refreshing Data..">
    </ion-refresher-content>
  </ion-refresher>
  <!--class="no-result-found"-->
  <div class="no-result-found" *ngIf="cards.length==0">
    <p>No Feed Available</p>
  </div>
  <div id="card-stack">
    <ion-card [@listItemState]="'in'" class="mytestclass" id="mycards1" #mycards1
      *ngFor="let flyer of cards; let i = index;"
      style="border-top-left-radius: 10px; border-top-right-radius: 10px; text-align: center; margin: 10px auto; position: relative;">
      <div [style.background-image]="'url(' + baseURL + flyer?.backgroundImage + ')'"
        style="background-size: cover; background-position-y: -15px; opacity: 0.45; height: 125px; background-color: #000; text-align: center;"
        (click)="getinfo(flyer.userId)"></div>
      <img src="{{baseURL + flyer.flyerImage}}" width="100" height="100" style="position: relative; margin-top: -65px;"
        (click)="getinfo(flyer.userId)">
      <img class="reportIcon" (click)="Report(flyer?.userId,flyer?.id)" src="assets/imgs/report_user.png" />
      <span class="experienceName" *ngIf="flyer?.experienceNames?.length > 0">{{ flyer?.experienceNames[0] }}</span>
      <br>
      <div style="margin-bottom: 15px; overflow: hidden;">
        <h4 (click)="getinfo(flyer.userId)"
          style="margin: 0px; font-size: 19px; letter-spacing: 0.5px; padding: 5px 0px; margin-top: -5px; padding-bottom: 0px;">
          <b>{{flyer.flyerName}}</b></h4>
        <div style="padding-bottom: 10px; font-size: 12px; margin-top: 3px;">
          <span *ngIf="flyer.gender" class="text-capitalize">{{flyer.gender}},
          </span> <span *ngIf="flyer.age" class="text-capitalize">{{flyer.age}} Yrs</span>
        </div>
      </div>
      <span *ngIf="flyer.isPublic"
        style="border: 1px solid #ccc; padding: 8px 25px; border-radius: 20px; font-size: 13px; letter-spacing: 1px; font-size: 12px; color: #232222;">Public</span>
      <span *ngIf="!flyer.isPublic"
        style="border: 1px solid #ccc; padding: 8px 25px; border-radius: 20px; font-size: 13px; letter-spacing: 1px; font-size: 12px; color: #232222;">Private</span>
      <span
        style="border: 1px solid #ccc; padding: 8px 25px; border-radius: 20px; font-size: 12px; letter-spacing: 1px; color: #232222;">{{flyer.distance}}
        away</span>
      <br><br>
      <div style="margin-top: -5px;">
        <ion-row class="pad-lr-10">
          <ion-col col-1>
            <ion-icon name="pin" style="font-size: 18px;"></ion-icon>
          </ion-col>
          <ion-col col-11 text-left
            style="font-size: 16px; font-weight: 500; text-transform: capitalize; position: relative; top: 2px; color: #808080; height: 25px; overflow: hidden;">
            {{flyer.storeName}} <ng-container *ngIf="flyer?.storeName?.length > 0">, </ng-container> {{flyer?.locality}}
          </ion-col>
        </ion-row>

        <ion-row class="pad-lr-10">
          <ion-col col-1>
            <ion-icon name="calendar" style="font-size: 15px;"></ion-icon>
          </ion-col>
          <ion-col col-11 text-left style="font-size: 13px; position: relative; top: 4px; color: #808080;">
            {{flyer.expiryDate | date: 'dd MMMM yyyy'}}
          </ion-col>
        </ion-row>

        <ion-row class="pad-lr-10">
          <!-- <ion-col col-1>
            <ion-icon name="information-circle" style="font-size: 15px;"></ion-icon>
          </ion-col> -->
          <ion-col *ngIf="flyer?.description?.length > 0" col-12 text-left
            style="font-size: 13px;line-height: 19px; color: #808080; white-space: pre-wrap;">{{ flyer?.description }}
          </ion-col>
        </ion-row>
      </div>
      <ion-row style="margin: 15px 0px;">
        <ion-col col-12 class="btn-container">
          <button class="uninterested-btn" (click)="uninterest(flyer,i)">
            <ion-icon name="close"></ion-icon>
          </button>
          <button class="interested-btn" (click)="interest(flyer,i)">
            <span>
              yasss !
            </span>
          </button>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
  <!--<p style="text-align: center; width: 100%;">{{ recentCard }}</p>-->
  <ion-infinite-scroll threshold="100px" *ngIf="noapicall" (ionInfinite)="getnewData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>


<!-- https://api.dealsocio.com/swagger-ui.html#/feedback-controller/getAllUsingPOST_1 -->