<!--
  Generated template for the PictureActionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>pictureAction</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content>
  <ion-list>
    <ion-item (click)="makeProfile()">Make Profile Pic</ion-item>
    <ion-item (click)="deleteImage()">Delete Image</ion-item>
  </ion-list>
</ion-content>
