page-places {
  .scroll-content{
    padding-top: 0px !important;
  }
  .item-md ion-thumbnail {
      min-width: 0px;
      min-height: 0px;
  }
  .img-radius{
    border-radius: 50%;
    height: 60px !important;
    width: 60px !important;
  }
  .info-title{
    font-weight: bold;
    font-size: 1.5rem;
  }
  .padding {
    padding-top: 17px;
  }
  .row {
    margin-left: 10px;
  }
  .select-text{
    color: white;
    font-size: 1.7rem !important;
    font-weight: bold;
  }
  .select-md .select-icon .select-icon-inner {
    color: white;
  }
}
