<!--
  Generated template for the PlacesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-select interface="action-sheet" [(ngModel)]="cities">
      <ion-option value="Noida">Noida</ion-option>
      <ion-option value="Delhi">Delhi</ion-option>
    </ion-select>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-segment [(ngModel)]="options">
    <ion-segment-button (ionSelect)="selectedPeople()" value="people">
      People
    </ion-segment-button>
    <ion-segment-button (ionSelect)="selectedPlaces()" value="places">
      Places
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="options">
    <ion-grid *ngSwitchCase="'people'">

      <ion-searchbar  (ionInput)="getItems($event)" (keyup.enter)="getItems($event)" animated="true" (ionCancel)="toggleSearch()" placeholder="Search..."></ion-searchbar>

      <ion-row (click)="navigateToPerson()" *ngFor="let sarchdata of metadata">
        <ion-col col-3 text-center>
          <ion-avatar item-start>
            <img src="assets/imgs/user.jpg" class="img-radius">
          </ion-avatar>
        </ion-col>
        <ion-col col-8 class="padding">
          <div class="info-title">{{metadata.firstName}} {{metadata.lastName}}</div>
          <div class="info-desc">{{metadata.city}}</div>
        </ion-col>
      </ion-row>

    </ion-grid>

    <ion-grid *ngSwitchCase="'places'">
      <ion-searchbar (ionInput)="getItems($event)" (keyup.enter)="getItems($event)" animated="true" (ionCancel)="toggleSearch()" placeholder="Search..."></ion-searchbar>
      <ion-row (click)="navigateToPlace()">
        <ion-col col-3 text-center>
          <ion-avatar item-start>
            <img src="assets/imgs/logo.png" class="img-radius">
          </ion-avatar>
        </ion-col>
        <ion-col col-8 class="padding">
          <div class="info-title">BarbequeNations</div>
          <div class="info-desc">Sector 16, Noida</div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-3 text-center>
          <ion-avatar item-start>
            <img src="assets/imgs/logo.png" class="img-radius">
          </ion-avatar>
        </ion-col>
        <ion-col col-8 class="padding">
          <div class="info-title">BarbequeNations</div>
          <div class="info-desc">Sector 16, Noida</div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-3 text-center>
          <ion-avatar item-start>
            <img src="assets/imgs/logo.png" class="img-radius">
          </ion-avatar>
        </ion-col>
        <ion-col col-8 class="padding">
          <div class="info-title">BarbequeNations</div>
          <div class="info-desc">Sector 16, Noida</div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
