<ion-header>
  <ion-navbar>
    <ion-title style="color: white"></ion-title>
    <ion-buttons end padding-right>
      <button ion-button icon-only *ngIf="!toggled" color="royal" (click)="goToChat()">
        <span *ngIf="unreadCount > 0" class="unreadCountClass">{{unreadCount}}</span>
        <img src="assets/icons/newicons/chat-white.png" height="24px" width="24px">
      </button>
      <button ion-button icon-only *ngIf="!toggled" color="royal" (click)="goToNotifications()">
        <span *ngIf="unreadNotify > 0" class="unreadCountClass">{{unreadNotify}}</span>
        <img src="assets/icons/newicons/notifications-white.png" height="24px" width="24px">
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>


<ion-content *ngIf="profiledetails" style="margin-top: 55px;">
  <div class="background-image">
    <div class="content-sec" (click)="navigateToGallery()">
      <img src="{{myprofilepic}}" style="border-radius: 50%; height: 150px; width: 150px;">
      <!-- <h4>{{profiledetails.firstName + profiledetails.lastName}}</h4> -->
    </div>
  </div>

  <div padding class="profile-content" style="padding-bottom: 0px;">
    <div class="row" (click)="navigateToProfileInfo()">
      <div col-8 style="padding-top: 0px;">
        <p style="margin-top: 0px;">Profile Info</p>
      </div>
      <div col-4 style="text-align: right">
        <!-- <ion-icon name="arrow-dropright"></ion-icon> -->
      </div>
    </div>
    <div class="row" (click)="navigateToUserList()">
      <div col-8 style="padding-top: 0px;">
        <p style="margin-top: 0px;">Friends</p>
      </div>
      <div col-4 class="rowDesign">
        <!-- <ion-icon name="arrow-dropright"></ion-icon> -->
        <span style="color: #2d2d2d; font-weight: 300;">{{profiledetails.connections.length}}</span>
      </div>
    </div>
    <div class="row" (click)="navigateToReqList()">
      <div col-8 style="padding-top: 0px;">
        <p style="margin-top: 0px;"> Friend Requests</p>
      </div>
      <div col-4 class="rowDesign">
        <!-- <ion-icon name="arrow-dropright"></ion-icon> -->
        <span style="color: #2d2d2d; font-weight: 300;">{{profiledetails.connectionRequests.length}}</span>
      </div>
    </div>
    <div class="row" (click)="navigateToblockList()">
      <div col-8 style="padding-top: 0px;">
        <p style="margin-top: 0px;"> Blocked Users</p>
      </div>
      <div col-4 class="rowDesign">
        <span style="color: #2d2d2d; font-weight: 300;">{{profiledetails.blockedUser.length}}</span>
      </div>
    </div>
  </div>
  <div class="heading">Settings</div>
  <div padding class="profile-content">
    <div class="row">
      <div col-6>
        <ion-label>Notifications</ion-label>
      </div>
      <div col-6 class="noti">
        <ion-toggle (ionChange)="update($event)" color="primary" checked={{togglevalue}}></ion-toggle>
      </div>
    </div>
    <div class="row" (click)="navigateToFaq()">
      <div col-8 style="padding-top: 0px;">
        <p style="margin-top: 0px;">Faq</p>
      </div>
    </div>
    <div class="row" (click)="deactivateAcc()">
      <div col-8 style="padding-top: 0px;">
        <p style="margin-top: 0px;">Deactivate Account</p>
      </div>
      <div col-4 class="rowDesign">
        <!-- <ion-icon name="arrow-dropright"></ion-icon> -->
      </div>
    </div>
    <div class="row" (click)="shareSheetShare()">
      <div col-8 style="">
        <p style="margin-top: 0px;">Share App</p>
      </div>
      <div col-4 style="text-align: right">
        <!-- <ion-icon name="arrow-dropright"></ion-icon> -->
      </div>
    </div>
    <div class="row" (click)="rateApp()">
      <div col-8 style="padding-top: 0px;">
        <p style="margin-top: 0px;">Rate Us</p>
      </div>
      <div col-4 style="text-align: right">
        <!-- <ion-icon name="arrow-dropright"></ion-icon> -->
      </div>
    </div>
    <div class="row">
      <div col-8 style="padding-top: 0px;" (click)="AboutPage()">
        <p style="margin-top: 0px;">About us & Policies</p>
      </div>
      <div col-4 style="text-align: right">
        <!-- <ion-icon name="arrow-dropright"></ion-icon> -->
      </div>
    </div>
    <div class="row" (click)="logout()">
      <div col-8 style="padding-top: 0px;">
        <p style="margin-top: 0px;">Logout</p>
      </div>
      <div col-4 style="text-align: right">
        <!-- <ion-icon name="arrow-dropright"></ion-icon> -->
      </div>
    </div>
  </div>
</ion-content>