page-profile {
  .scroll-content{
    padding-top: 0px !important;
    margin-top: 0px !important;
  }
  .fixed-content{
    visibility: hidden;
  }
.rowDesign{
  text-align: right
}
  .margin{
    margin-top: 0px;
  }
  .content-sec {
    left: 0;
    right: 0;
    z-index: 9999;
    margin-right: 20px;
    text-align: center;
    padding-top: 20px;
    clear:both;
    width: 100%;
    height: 200px;
    h4{
      float: left;
      display: inline-block;
      padding: 0px 20px;
      color: black;
      font-weight: 300;
      font-size: 16px;
    }
  }

  .profile-content{
    clear:both;
  }

  .item-md.item-block .item-inner{
    padding-right: -2px;
    border-bottom: 0px solid #dedede;
    margin-right: -15px;
    margin-left: -10px;
    margin-bottom: 4px;
    font-size: 1.5rem;
  }
}

page-profile{
  .scroll-content{
    padding-bottom: 90px !important;
    padding-top: 0px !important;
    margin-bottom: 0px !important;
  }
  .fixed-content{
    display: none !important;
    margin-top: 56px !important;
    margin-bottom: 56px !important;
  }
}

.ios{
  page-profile{
    .noti{
      ion-toggle{
        float: right;
      }
    }
  }

}
