<!--
  Generated template for the OtpverPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Verification</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="formData" (keypress)="submitOtpForm(passcodeForm.value)" (ngSubmit)="submitOtpForm(passcodeForm.value)">
      <div class="main-body">
      <div class="top-title">Mobile Number Verification</div>
        <div class="ins-text">Enter One Time Password (OTP) Recived<br>on Your Mobile</div>

        <div class="input-block">
            <form [formGroup]="passcodeForm" class="form-horizontal clearfix" >
                <div class="verify-code inputs_wrapper">
                    <input  type="text" maxlength="1" id="unique" (click)="called()" class="inputs" formControlName="one" >
                    <input name="" type="text" formControlName="two" maxlength="1" class="inputs">
                    <input name="" type="text" formControlName="three"  maxlength="1" class="inputs">
                    <input name="" type="text" formControlName="four" maxlength="1" class="inputs">
                </div>

                <!--<h1 class="action">-->
                    <!--<span (click)="onPasscode(passcodeForm.value)" [hidden]="!passcodeForm.valid" color="primary">Done</span>-->
                <!--</h1>-->
            </form>
          <!--<ion-input type="text" maxlength="1" id="unique" (click)="called()" name="OTP1" class="otp-control"></ion-input>-->
            <!--<ion-input type="text" maxlength="1" id="" name="OTP2" class="otp-control"></ion-input>-->
            <!--<ion-input type="text" maxlength="1" id="" name="OTP3" class="otp-control"></ion-input>-->
            <!--<ion-input type="text" maxlength="1" id="" name="OTP4" class="otp-control"></ion-input>-->
        </div>
        <div><a href="#" class="reset-link">Resend OTP</a></div>
      <ion-buttons>
        <button ion-button color="secondary" type="submit" style="float:right;width:120px;" [disabled]="!passcodeForm.valid">Verify OTP</button>
      </ion-buttons>
    </div>
 </form>
</ion-content>
