page-search-places {
  .strip{
    padding: 10px 15px; background: #eaeaea; height: 45px;
    text-align: left !important;
  }
  .recentSearch{
    padding-top: 3px;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1px;
    color: #6b69af;
    text-transform: capitalize;
  }
  .clearButton{
    float: right;
    display: inline-block;
    padding: 3px 12px;
    background: #9b99ec;
    border-radius: 10px;
    color: white;
    font-weight: 500;
    height: 25px;
    font-size: 15px;
  }
  .cardDesign1{
    margin: 0px; width: 100%; box-shadow: none; border-bottom: 1px solid #d2d2d2;opacity: 0.4;
    padding: 0px 5px;
    text-align: left !important;
  }
  .myCol{
    top: 5px;
  }
  .imgAvatar{
    max-width: none;
  }
  .img-radius{
    border-radius: 50%;
    height: 55px !important;
    width: 55px !important;
    border: 2px solid #9b99ec;
    margin: 3px 0px 1px 0px;
    display: inline-block;
  }
  .info-title{
    font-weight: bold;
    font-size: 1.5rem;
  }
  .info-desc{
    font-size: 1.2rem;
    color: #D3D3D3;
  }
  .storeName{
    font-weight: 500; font-size: 16px; padding: 10px 0px 5px 0px;
  }
  .cityName{
    font-size: 13px; color: #7b7b7b;
  }
  .cardDesign{
    margin: 0px; width: 100%; box-shadow: none; border-bottom: 1px solid #d2d2d2;
    padding: 0px 5px;
    text-align: left !important;
  }
}

.ios{
  page-search-tab{
    page-search-places{
      .scroll-content{
        margin-top: 40px !important;
      }
    }
  }
}
