<!--
  Generated template for the SearchPlacesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding>
    <ion-refresher (ionRefresh)="allmystore($event)">
        <ion-refresher-content  refreshingText="Refreshing Data..">
        </ion-refresher-content>
    </ion-refresher>
    <ion-searchbar placeholder="search places" [(ngModel)]="searchTerm" (ionInput)="getStores($event,store)" [showCancelButton]="shouldShowCancel" (ionCancel)="cancelPlace($event)"></ion-searchbar>
    <div *ngIf="searchTerm ==''">
        <div class="strip">
            <span class="recentSearch">Recent Search</span>
            <span class="clearButton" (click)="clearSearch('STORE')">clear search</span>
        </div>
        <div class="no-result-found" *ngIf="recentPlace.length==0">
            <p>No Recent Search </p>
        </div>
        <ion-card *ngFor="let resstore of recentPlace"  class="cardDesign1" (click)="getPlaceInfo(resstore.storeId);">
            <ion-row>
                <ion-col col-3 text-center class="myCol">
                    <ion-avatar item-start class="imgAvatar">
                        <img src="{{baseURL + resstore.profilePic}}"  class="img-radius">
                    </ion-avatar>
                </ion-col>
                <ion-col col-8  >
                    <div class="info-title" class="storeName">{{resstore.storeName}}</div>
                    <div class="info-desc" class="cityName">{{resstore.city}}</div>
                </ion-col>
            </ion-row>
        </ion-card>
    </div>
    <div *ngIf="storedata.storeList">
        <div class="no-result-found" *ngIf="searchTerm && (storedata.storeList.length==0)">
            <p>No Place Found</p>
        </div>
        <ion-card *ngFor="let store of storedata.storeList" class="cardDesign" (click)="getPlaceInfo(store.id); addinRecent('STORE',store.id);">
            <ion-row>
                <ion-col col-3 text-center class="myCol">
                    <ion-avatar item-start class="imgAvatar">
                        <img src="{{baseURL + 'dealsocio.com.place/' + store.profilePic}}" class="img-radius">
                    </ion-avatar>
                </ion-col>
                <ion-col col-8  >
                    <div class="info-title" class="storeName">{{store.storeName}}</div>
                    <div class="info-desc" class="cityName">{{store.city}}</div>
                </ion-col>
            </ion-row>
        </ion-card>
    </div>
</ion-content>
