page-version {
  /* MODAL STYLES
 -------------------------------*/
  .version-check_model{
    background-color: #f1f1f1;
    padding: 20px 10px 10px;
    text-align: center;
    margin: 0;
  }
  .version-check_model .modal-body{
    margin:0;
    padding:0 0 0 0;
    img{
      height: 60px;
      position: absolute;
      top: -25px;
      left: -20px;
    }
    h1{
      margin: 0 0 15px 0;
      text-align: center;
      font-size: 20px;
    }
  }
  .version-check_model .modal-footer{
    display: flex;
    justify-content: center;
    margin: 15px 0 0 0;
  }
  .version-check_model .modal-footer .allow-btn {
    color: #fff;
    background-color: #f49825;
    margin-bottom: 7px;
    box-shadow: none;
    border-radius: 3px;
    width: auto;
    padding: 10px 90px;
  }
  .modal {
    /* modal container fixed across whole screen */
    border-radius: 13px;
    position: absolute;
    top: 50% !important;
    left: 50%;
    -webkit-transform: translate(-50%, -45%);
    transform: translate(-50%, -50%);
    width: 84%;
    height: auto;
    overflow: visible;

    /* z-index must be higher than .modal-background */
    z-index: 1000;

    /* enables scrolling for tall modals */
    /*overflow: auto;*/
  }
  .modal-background {
    /* modal background fixed across whole screen */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* semi-transparent black  */
    background-color: #000;
    opacity: 0.75;

    /* z-index must be below .modal and above everything else  */
    z-index: 900;
  }

  body.modal-open {
    /* body overflow is hidden to hide main scrollbar when modal window is open */
    overflow: hidden;
  }

}
