<div>
  <div class="modal version-check_model">
    <div class="modal-body">
      <img src="assets/imgs/version.png">
      <h1> Update Available</h1>
      <span>This version of Dealsocio App is not the latest version. Please update App from Itune!</span>
    </div>
    <div class="modal-footer">
      <button ion-button class="submit-btn allow-btn" full (click)="closeModal();">Update Now</button>
    </div>
  </div>
  <div class="modal-background"></div>
</div>
