page-acceptedevents {
  .info-title {
    font-weight: bold;
    font-size: 1.5rem;
  }

  .img-radius {
    border-radius: 50%;
    height: 70px !important;
    width: 70px !important;
    margin-left: 7px;
  }

  .chatButton {
    color: #384e7e;
    font-size: 17px;
    font-weight: 500;
    width: 49.5%;
    border-right: 2px solid #9b99ec;
  }

  .info-desc {
    font-size: 1.2rem;
    color: #D3D3D3;
  }

  .ion-md-unfold {
    height: 20px;
    width: 20px;
    background: url('./../assets/icons/newicons/unfold-grey.png');
    background-size: 165%;
    background-repeat: no-repeat;

    &:before {
      content: '';
    }

    &.blue {
      background-size: 100%;
      background: url('./../assets/icons/newicons/unfold-blue.png');
    }

    &.green {
      background-size: 100%;
      background: url('./../assets/icons/newicons/unfold-green.png');
    }

    &.unfold {
      background-position: -7px 0px;
    }

    &.fold {
      background-position: -7px -20px;
    }
  }

  .ion-md-calender {
    height: 15px;
    width: 15px;
    background: url(./../assets/icons/newicons/calender.png);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0px 5px 0px 3px;

    &:before {
      content: '';
    }
  }

  .leaveButton {
    color: #cf3941;
    font-size: 17px;
    font-weight: 500;
  }

  .accordian {
    position: relative;
    top: 1px;

    ion-icon {
      position: absolute;
      right: 65px !important;
      top: -20px !important;
    }

    p {
      height: 0px;
      opacity: 0;
      overflow: hidden;
      transition: all 0.4s ease-in-out;
      color: #908f8f;
      font-size: 12px;
      padding: 5px;

      &.show {
        opacity: 1;
        height: auto;
      }
    }
  }

}

ion-alert {

  .alert-head {
    display: none;
  }

  .alert-message {
    padding-top: 20px !important;
    font-size: 18px;
    text-align: center;
  }

  .alert-button {
    border: 1px solid #9672ec;
    margin-bottom: 15px;
    border-radius: 3px;
    margin-bottom: 15px;
    height: 35px;
    margin-bottom: 10px;

    &:nth-child(2) {
      background: #9672ec;
      color: white;
      margin-left: 15px;
    }

    &:nth-child(1) {
      color: #9672ec;
    }
  }
}


.ios{

    super-tabs {
      page-acceptedevents {
        ion-content {
          & > .scroll-content {
            margin-top: 0px !important;
          }
        }
      }
    }

  page-acceptedevents{
.storename{
  margin-left: -3px;
}
    .info-calender{
      position: relative;
      top: -5px;
      left: 0px;
    }
    .eve-name{
      position: relative;
      top: 1px;
    }
    .info-title{
      & > span{
        position: relative;
        left: 2px;
      }
    }
    .info-location{
      position: relative;
      top: 3px !important;
      left: 4px;
    }


  }
  ion-alert .alert-button{
    min-width: auto !important;
    float: left !important;
    width: 40% !important;
    margin: 5px !important;
    display: block !important;
  }
}