<!--
  Generated template for the AcceptedeventsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding>
    <!--<ion-refresher (ionRefresh)="getAcceptedList($event)">-->
    <!--<ion-refresher-content  refreshingText="Refreshing Data..">-->
    <!--</ion-refresher-content>-->
    <!--</ion-refresher>-->
    <div class="no-result-found" *ngIf="!acc_events">
        <p>No Accepted Events</p>
    </div>
    <ion-card [@listItemState]="'in'" *ngFor="let myEvent of acc_events; let i = index;">
        <ion-row>
            <ion-col (click)="getinfo(myEvent.userId)" col-3 text-center style="top: 10px;">
                <ion-avatar item-start style="max-width: none;">
                    <img src="{{baseURL + myEvent.flyerImage}}" class="img-radius">
                </ion-avatar>
            </ion-col>
            <ion-col col-9 style="text-align: left !important;">
                <div class="info-title" style="padding-left: 5px;">
                    <span style="font-size: 15px; color: #6f6f70; font-weight: 500; padding-left: 3px;"
                        (click)="getinfo(myEvent.userId)">{{ myEvent?.flyerName }}</span>
                    <div class="eve-name" *ngIf="myEvent?.experienceNames[0]"
                        style="padding-bottom: 5px; font-size: 12px; color: #484848; padding-top: 4px; display: block;">
                        <img style="width: 20px; height: 20px; float: left;"
                            src="assets/icons/newicons/baseline-local_dining-2.png"
                            *ngIf="myEvent?.experienceNames[0] == 'DINNING'">
                        <img style="width: 20px; height: 20px; float: left;"
                            src="assets/icons/newicons/baseline-local_bar-2.png"
                            *ngIf="myEvent?.experienceNames[0] == 'DRINKS'">
                        <img style="width: 20px; height: 20px; float: left;"
                            src="assets/icons/newicons/baseline-local_mall-2.png"
                            *ngIf="myEvent?.experienceNames[0] == 'SHOPPING'">
                        <img style="width: 20px; height: 20px; float: left;"
                            src="assets/icons/newicons/baseline-local_movies-2.png"
                            *ngIf="myEvent?.experienceNames[0] == 'MOVIE'">
                        <img style="width: 20px; height: 20px; float: left;"
                            src="assets/icons/newicons/baseline-local_cafe-2.png"
                            *ngIf="myEvent?.experienceNames[0] == 'COFFEE'">&nbsp;&nbsp;{{ myEvent?.experienceNames[0] }}
                    </div>
                </div>
                <div class="info-desc" style="color:#a7a7a7; line-height: 16px;">
                    <div class="info-location" *ngIf="myEvent?.storeName" (click)="goToGoogleMap(myEvent.location)"
                        style="overflow: hidden; width: 100%; padding-left: 5px; margin: 10px 0px; position: relative; top: 5px; margin-top: 0px;">
                        <b>
                            <ion-icon name="pin"></ion-icon>&nbsp;&nbsp; {{ myEvent.storeName }} <ng-container
                                *ngIf="myEvent?.city">, </ng-container>{{ myEvent?.city }}
                        </b>
                    </div>
                    <div class="info-location" *ngIf="!myEvent?.storeName" (click)="goToGoogleMap(myEvent.location)"
                        style="overflow: hidden; width: 100%; padding-left: 5px; margin: 10px 0px; position: relative; top: 5px; margin-top: 0px;">
                        <b>
                            <ion-icon name="pin"></ion-icon>&nbsp;&nbsp; {{ myEvent.locality }} <ng-container
                                *ngIf="myEvent?.city">, </ng-container>{{ myEvent?.city }}
                        </b>
                    </div>
                    <div style="padding-left: 5px; position: relative; top: 1px;">
                        <ion-icon class="ion-md-calender" name="calender"></ion-icon>
                        {{myEvent.expiryDate | date: 'dd MMMM yyyy'}}
                    </div>
                </div>
                <div class="accordian" *ngIf="myEvent?.description?.length > 0">
                    <ion-icon (click)="showAccord1[i] = !showAccord1[i];" [class.unfold]="showAccord1[i]"
                        [class.fold]="!showAccord1[i]" class="ion-md-unfold" name="restaurant"
                        style="right: 10px !important; top: -15px !important; white-space: pre-wrap;"></ion-icon>
                    <p [class.show]="showAccord1[i]" style="white-space:  pre-wrap;">{{ myEvent?.description }}</p>
                </div>
            </ion-col>
        </ion-row>
        <!--<ion-row>-->
        <!--<ion-col col-6 text-center>-->

        <!--</ion-col>-->
        <!--<ion-col col-6 text-center>-->
        <!--&lt;!&ndash; <span style="color: #32CD32" *ngIf="!myEvent?.public">Private</span>-->
        <!--<span style="color: #32CD32" *ngIf="myEvent?.public">Public</span> &ndash;&gt;-->
        <!--</ion-col>-->
        <!--</ion-row>-->
        <ion-row>
            <ion-col col-6 text-center class="chatButton" (click)="goToChatWindow(myEvent)">Chat</ion-col>
            <ion-col col-6 text-center class="leaveButton" (click)="presentConfirm (myEvent.id,i)">Leave</ion-col>
        </ion-row>
    </ion-card>
</ion-content>