page-user-profile {
  .colUser{
    padding: 2px !important; height: 115px !important; overflow: hidden !important;
  }
}


.ios{
  user-detail{
    ion-content.user-profile{
      .scroll-content{
        margin-top: 5px !important;
      }
    }
  }
}
