<!--
  Generated template for the UserProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding class="user-profile">
  <div class="row" style="margin-left: 0px; margin-bottom: -5px; padding: 0px 5px;">
    <div col-1>
      <ion-icon name="pin" role="img" style="font-size: 18px;" class="icon icon-md ion-md-pin" aria-label="pin"
        ng-reflect-name="pin"></ion-icon>
    </div>
    <div col-11 style="text-align: left;">
      <p style="font-size: 13px; margin: 0px; color: #9a9a9a; position: relative; top: 5px; left: -1px;">
        {{ userinfo?.locality }}<ng-container *ngIf="userinfo?.city?.length > 0">,</ng-container> {{ userinfo?.city }}
      </p>
      <p *ngIf="!userinfo?.locality && !userinfo?.city"
        style="margin: 0px; margin-top: 3px; color: #9a9a9a; font-size: 13px;">No Data</p>
    </div>
  </div>
  <div class="row" style="margin-left: 0px; padding: 0px 5px;">
    <div col-1>
      <ion-icon name="pin" role="img" style="font-size: 18px;" class="icon icon-md ion-md-work" aria-label="pin"
        ng-reflect-name="pin"></ion-icon>
    </div>
    <div col-11 style="text-align: left;">
      <p style="font-size: 13px; margin: 0px; color: #9a9a9a; position: relative; top: 5px; left: -1px;">
        {{ userinfo.work }}</p>
      <p *ngIf="!userinfo.work" style="margin: 0px; margin-top: 3px; color: #9a9a9a; font-size: 13px;">No Data</p>
    </div>
  </div>

  <div class="row" style="margin-bottom: 10px; margin-left: 0px; padding: 0px 0px 0px 34px;">
    <!-- <div col-1>
            <ion-icon name="pin" role="img" style="font-size: 18px;" class="icon icon-md ion-md-pin" aria-label="pin" ng-reflect-name="pin"></ion-icon>
    </div> -->
    <div col-12 style="text-align: left;">
      <p style="font-size: 13px; margin: 0px; color: #9a9a9a; white-space:  pre-wrap;">{{ userinfo.aboutYou }}</p>
    </div>
  </div>
  <div class="row" style="border-top: 0.002em solid #2c29a5; padding: 0px; margin-left: 0px;">
    <div col-12>
      <p
        style="color: #9b99ec; text-align: center; font-weight: 500; letter-spacing: 2px; font-size: 12px; text-transform: uppercase;">
        Gallery
      </p>
    </div>
  </div>
  <ion-row style="margin-top: 2px; margin-left: 0px;">
    <ion-col col-4 col-md-4 col-xl-3 *ngFor="let image of userinfo.images" class="colUser">
      <div (click)="showImage(baseURL+image)" class="image-container"
        [style.background-image]="'url('+baseURL+''+image+'_160)'"></div>
    </ion-col>
  </ion-row>
  <div class="no-result-found" *ngIf="userinfo.images.length==0">
    <p>Empty Gallery</p>
  </div>
</ion-content>