//.action-sheet-wrapper {
//	bottom: -50% !important;
//	transform: translateY(-50%) !important;
//	width: 80% !important;
//}
//.action-sheet-md .action-sheet-title {
//	background: #dfecec;
//}
//.action-sheet-md .action-sheet-group:last-child {
//	display: none;
//}
user-detail {
	.class1 {
		//border-color: #9b99ec !important;
		opacity: 1 !important;
		color: pink !important;
	}

	.class2 {
		//border-color: #9b99ec !important;
		opacity: 0.4;
		color: green !important;
	}

	.myuserDetail {
		padding: 0px !important
	}

	.name {
		font-size: 1.8rem;
		color: #6b6b6b;
		font-size: 18px;
		font-weight: 500;
		padding-top: 1px;
	}

	.dummyicon {
		font-size: 18px;
		display: inline-block;
		padding-right: 5px;
	}

	.secondIcon {
		padding-top: 5px;
		text-align: right;
	}

	.firstLoc {
		color: #32CD32
	}

	.secondLoc {
		color: #FF0000
	}

	.mysegment {
		letter-spacing: 1px;
	}

	.friendrow {
		margin-left: 0px !important
	}

	.scroll-content {
		padding-top: 0px !important;
		margin-top: 56px;
	}

	.item-md ion-thumbnail {
		min-width: 0px;
		min-height: 0px;
	}

	.img-radius {
		border-radius: 50%;
		height: 70px !important;
		-webkit-border-radius: 50%;
		width: 70px !important;
	}

	.social-actionsheet .action-sheet .button {
		padding: 0 10px;
		text-align: left !important;
	}

	.action-sheet-wrapper {
		bottom: 180px !important;
		border: 1px solid red;
		margin-bottom: 180px !important;
	}

	.chatButton {
		color: #384e7e;
		font-size: 17px;
		font-weight: 500;
		width: 49.5%;
		border-right: 2px solid #000;
	}

	.cancelButton {
		color: #cf3941;
		font-size: 17px;
		font-weight: 500;
	}

	.image-container {
		min-height: 140px;
		image-orientation: from-image;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}

	.uninterested {
		border: 1px solid #b7b7b7;
		line-height: 45px;
		font-size: 2.5rem;
		border-radius: 50%;
		color: #ea440e;
		text-align: center;
		height: 50px;
	}

	.interested {
		border: 1px solid #b7b7b7;
		line-height: 49px;
		font-size: 2.5rem;
		border-radius: 50%;
		color: #32CD32;
		text-align: center;
		height: 50px;
	}

	.ButtonCss {
		color: red;
	}

	img {
		max-width: none !important;
	}

	.info-title {
		font-size: 2.5rem;
	}

	.padding {
		padding-top: 17px;
	}

	.row {
		margin-left: 10px;
	}

	.button-small-md {
		height: 1.7em !important;
	}

	.button-round-md {
		padding: 2px 6px;
	}

	.info-desc {
		color: #868686;
		margin-top: 0px;
		letter-spacing: 1px;
		font-size: 13px;
	}

	.button-outline-md {
		border-color: #CCC;
		color: #CCC;
	}

	.button-md {
		text-transform: none;
	}

	.button-small-md {
		padding: 0 1.5em;
		border-radius: 5px;
	}
}

.veri {
	color: #adadad;
	font-weight: 500;
	position: relative;
	top: -2px;
	display: inline-block;
	width: 75px;
	text-align: left;

	&.verified {
		text-align: left;
		color: #9b99ec;
		font-weight: 700;
		letter-spacing: 0px;
	}
}

.ion-md-email {
	height: 20px;
	width: 20px;
	background: url('./../assets/icons/newicons/email-grey.png');
	background-size: 100%;
	background-repeat: no-repeat;

	&:before {
		content: '';
	}
}

.ion-md-phone {
	height: 20px;
	width: 20px;
	background: url('./../assets/icons/newicons/phone-grey.png');
	background-size: 100%;
	background-repeat: no-repeat;

	&:before {
		content: '';
	}
}

.ion-md-work {
	height: 20px;
	width: 20px;
	background: url('./../assets/icons/newicons/job-grey.png');
	background-size: 100%;
	background-repeat: no-repeat;

	&:before {
		content: '';
	}
}


.accordian {
	position: relative;
	top: 1px;

	ion-icon {
		position: absolute;
		right: 10px;
		top: -35px;
	}

	p {
		height: 0px;
		opacity: 0;
		overflow: hidden;
		transition: all 0.4s ease-in-out;
		color: #908f8f;
		font-size: 12px;

		&.show {
			opacity: 1;
			height: auto;
		}
	}
}

.ion-md-unfold {
	height: 20px;
	width: 20px;
	background: url('./../assets/icons/newicons/unfold-grey.png');
	background-size: 100%;
	background-repeat: no-repeat;

	&:before {
		content: '';
	}

	&.blue {
		background-size: 100%;
		background: url('./../assets/icons/newicons/unfold-blue.png');
	}

	&.green {
		background-size: 100%;
		background: url('./../assets/icons/newicons/unfold-green.png');
	}
}

super-tab-button {
	background: #f3f3f3 !important;
	color: #9b99ec !important;

	&.selected {
		border-color: #9b99ec !important;
		background: #ffffff !important;
		color: #adadad !important;
	}
}


.ios{
	user-detail {
		.fixed-content{
			display: none !important;
		}
		.scroll-content{
			padding: 0px !important;
			margin-top: 75px !important
		}
	}
}