<!--
  Generated template for the UserDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <!--<ion-title *ngIf="userProfileDetailFlag" > {{firstName}} {{lastName}}</ion-title> -->
    <ion-title> Profile</ion-title>
    <ion-buttons end padding-right>
      <button ion-button icon-only (click)="presentProfileModal()">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding-top *ngIf="userProfileDetailFlag">
  <ion-row padding>
    <ion-col col-4 text-center>
      <ion-avatar>
        <img src="{{ baseURL + userinfo.profilePic}}" class="img-radius user-image"
          style="height: 85px !important; width: 85px !important;">
      </ion-avatar>
    </ion-col>
    <ion-col col-8 class="myuserDetail">
      <ion-row class="friendrow">
        <ion-col col-6 text-center>
          <div class="info-title" (click)="friendlist(userinfo.id)">{{userinfo.friendsCount}}</div>
          <div class="info-desc" (click)="friendlist(userinfo.id)">Friends</div>
          <button ion-button small outline (click)="removeById(userinfo.id)" *ngIf="userinfo.friend">Remove</button>
          <button ion-button small outline (click)="doRequest(userinfo.id,false)"
            *ngIf="userinfo.friendRequestSent">Cancel</button>
          <button ion-button small outline (click)="doAction(userinfo.id,true)"
            *ngIf="userinfo.friendRequestReceived">Accept</button>
          <button ion-button small outline (click)="doRequest(userinfo.id,true)"
            *ngIf="!userinfo.friend && !userinfo.friendRequestSent && !userinfo.friendRequestReceived ">Send</button>
        </ion-col>
        <ion-col col-6 text-center>
          <div class="info-title">{{userinfo.flyersCount}}</div>
          <div class="info-desc">Events</div>
          <button ion-button small outline *ngIf="userinfo.friend" (click)="goToChatWindow()">Chat</button>
          <button ion-button small outline *ngIf="userinfo.friendRequestReceived"
            (click)="doAction(userinfo.id,false)">Reject</button>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col col-7>
      <span class="name">{{userinfo.firstName}} {{userinfo.lastName}}</span>
      <div class="info-desc">{{ userinfo?.sex }}<ng-container *ngIf="userinfo?.age">,</ng-container>
        <ng-container *ngIf="userinfo.age">{{ userinfo.age }}</ng-container>
      </div>
    </ion-col>
    <ion-col col-5>
      <div text-right>
        <!-- <ion-icon aria-label="pin" class="icon icon-md ion-md-email dummyicon" name="pin" ng-reflect-name="pin" role="img"></ion-icon>
                <span *ngIf="userinfo.emailVerified" class="veri verified">verified</span>
                <span *ngIf="!userinfo.emailVerified" class="veri unverified">not verified</span> -->
      </div>
      <div class="secondIcon">
        <ion-icon aria-label="pin" class="icon icon-md ion-md-phone dummyicon" name="pin" ng-reflect-name="pin"
          role="img"></ion-icon>
        <span *ngIf="userinfo.phoneVerified" class="veri verified">verified</span>
        <span *ngIf="!userinfo.phoneVerified" class="veri unverified">not verified</span>
      </div>
    </ion-col>
  </ion-row>
  <super-tabs>
    <super-tab [root]="page1" title="Profile" [rootParams]="{ uuid: userinfo }"></super-tab>
    <super-tab [root]="page2" title="Events" [rootParams]="{ uuid: userinfo }"></super-tab>
  </super-tabs>
</ion-content>
