<ion-header>
  <ion-navbar>
    <ion-title>
      Contact List
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-grid  *ngFor="let user of contactlist" >
    <ion-row (click)="getinfo(user.id)">
      <ion-col col-3 text-center>
        <ion-avatar item-start>
          <img src="{{baseURL + user.image}}" class="img-radius">
        </ion-avatar>
      </ion-col>
      <ion-col col-8 class="padding">
        <div class="info-title">{{user.name}}</div>
        <div class="info-desc">{{user.city}}</div>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-8 text-right style="margin-top: -10px;"><button ion-button small round outline>Chat</button></ion-col>
        <ion-col col-4 text-left style="margin-top: -10px;"><button ion-button small round color="danger" outline>Remove</button></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
