<!--
  Generated template for the VerifyAccountPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Verify Account</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="passcodeForm" (ngSubmit)="submitOtpForm(passcodeForm.value)">
    <div class="main-body">
      <div class="top-title">Number Verification</div>
      <div class="ins-text">Enter One Time Password (OTP) Sent<br>on Your Number {{phoneNo}}</div>

      <div class="input-block">
        <form [formGroup]="passcodeForm" class="form-horizontal clearfix">
          <div class="verify-code inputs_wrapper">
            <input type="number" maxlength="1" id="unique" (click)="called()" class="inputs" formControlName="one">
            <input name="" type="number" formControlName="two" maxlength="1" class="inputs">
            <input name="" type="number" formControlName="three" maxlength="1" class="inputs">
            <input name="" type="number" formControlName="four" maxlength="1" (keyup.enter)="submitOtpForm(passcodeForm.value)" class="inputs">
          </div>
        </form>
      </div>
      <div>
        <a (click)="resend()" class="reset-link">Resend OTP</a>
      </div>
      <ion-buttons style="width: 125px; height: 100px; margin: 5px auto;">
        <button ion-button color="secondary" type="submit" style="float:right;width:120px;"
          [disabled]="!passcodeForm.valid">Verify OTP</button>
      </ion-buttons>
    </div>
  </form>
</ion-content>
