page-verify-account {

  .main-body {
    margin: 0 auto;
    text-align: center;
  }

  .verify-code {
    padding: 30px 0;
  }

  .verify-code input {
    background: inherit;
    //border: 2px solid #ab9678;
    border-radius: 5px;
    //color: #ab9678;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    height: 75px;
    margin-left: 6px;
    text-align: center;
    width: 10%;
  }

  .inputs_wrapper input[type="text"] {
    border: none;
    border-bottom: 1px solid #ccc;
    height: auto;
    border-radius: 0;
  }

  .top-title {
    margin-top: 50px;
    color: #000000;
    font-size: 24px;
    font-weight: 300;
  }

  .ins-text {
    padding-top: 15px;
    color: #000000;
    font-size: 15px;
  }

  .input-block {
    margin-top: 75px;
  }

  .otp-control {
    width: 4rem;
    padding: 7px;
    font-size: 16px;
    border-radius: 4px;
    border-color: transparent;
    color: #fff;
    display: inline-block;
  }

  .reset-link {
    padding-top: 15px;
    color: #9672ec;
    font-size: 13px;
    text-decoration: none;
    display: inline-block;
  }
}