<!--
  Generated template for the ProfileeditPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar>
		<ion-title>Profile Update</ion-title>
	</ion-navbar>

</ion-header>


<ion-content padding>
	<form [formGroup]="formData">
		<ion-list>
			<ion-item style="padding: 0px 10px;">
				<ion-label floating> First Name</ion-label>
				<ion-input [(ngModel)]="firstName" formControlName="firstname" [value]=profiledetails.firstName></ion-input>
			</ion-item>
			<ion-item style="padding: 0px 10px;">
				<ion-label floating>Last Name</ion-label>
				<ion-input [(ngModel)]="lastName" formControlName="lastname" [value]=profiledetails.lastName></ion-input>
			</ion-item>
			<ion-item style="padding: 0px 10px; height: 135px;">
				<ion-label floating>Description</ion-label>
				<ion-textarea style="height: 65px; font-size: 14px; line-height: 22px; white-space: pre-wrap;" [(ngModel)]="description"
					formControlName="desc" [value]=profiledetails.aboutYou></ion-textarea>
			</ion-item>
			<ion-item style="padding: 0px 10px;">
				<ion-label floating>Date of Birth</ion-label>
				<ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="myDate" (change)="dateformat($event)"
					formControlName="myDate"></ion-datetime>
			</ion-item>
			<ion-item style="padding: 0px 10px;">
				<ion-label text-left>Range </ion-label>
				<ion-range min="0" max="50000" color="secondary" pin="true" [(ngModel)]="range" formControlName="range">
					<ion-label range-left>0</ion-label>
					<ion-label range-right>50</ion-label>
				</ion-range>
			</ion-item>
			<ion-item style="padding: 0px 10px;">
				<ion-label floating>Occupation</ion-label>
				<ion-input [(ngModel)]="occupation" formControlName="occupation" [value]=profiledetails.work></ion-input>
			</ion-item>
			<ion-item style="padding: 0px 10px;">
				<ion-label>Gender</ion-label>
				<ion-select [(ngModel)]="gender" formControlName="gender">
					<ion-option value="female">Female</ion-option>
					<ion-option value="male">Male</ion-option>
				</ion-select>
			</ion-item>
		</ion-list>
		<ion-buttons (click)="submitLoginForm()">
			<button ion-button color="secondary" type="submit" style="float:right;width:120px;"
				[disabled]="!formData.valid">Update</button>
		</ion-buttons>
	</form>
</ion-content>