<ion-header>
  <ion-navbar>
    <ion-title>Update</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <form [formGroup]="formData" (ngSubmit)="submitOtpForm()">
 	<ion-card>
     <ion-card-content>
  			<img src="assets/imgs/logo.png" class="myImage"/>
        <ion-card-title text-center class="headtitle">
       	 Otp Request
        </ion-card-title>

		<ion-list>
		  <ion-item>
		    <ion-label color="primary" floating>phone</ion-label>
		    <ion-input  type="number" formControlName="phone"></ion-input>
		  </ion-item>
	    </ion-list>
	    <ion-buttons>
	    	<button ion-button color="secondary" type="submit" style="float:right;width:120px;" [disabled]="!formData.valid">Get OTP</button>
	    </ion-buttons>
    </ion-card-content>
  </ion-card>
 </form>
</ion-content>
