page-blkdusrs {
  .scroll-content{
    padding-top: 0px !important;
  }
  .item-md ion-thumbnail {
      min-width: 0px;
      min-height: 0px;
  }
  .img-radius{
    border-radius: 50%;
    height: 60px !important;
    width: 60px !important;
  }
  .info-title{
    font-weight: bold;
    font-size: 1.5rem;
  }
  .padding {
    padding-top: 17px;
  }
  .row {
    margin-left: 10px;
  }
  .button-small-md{
    height:1.7em !important;
  }
  .button-round-md{
    padding: 2px 6px;
  }
  .botm{
    margin-top: -10px;
  }
}

.ios{
  page-blkdusrs{
    .button-outline-ios-danger{
      padding: 10px;
    }
  }
}
