<!--
  Generated template for the BlkdusrsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Blocked Users</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="no-result-found" *ngIf="blockedlist.length==0">
    <p>No Blocked Users</p>
  </div>
  <ion-grid *ngFor="let user of blockedlist">
    <ion-row>
      <ion-col col-3 text-center (click)="getinfo(user.id)">
        <ion-avatar item-start>
          <img src="{{baseURL + user.image}}" class="img-radius">
        </ion-avatar>
      </ion-col>
      <ion-col col-6 class="padding" (click)="getinfo(user.id)">
        <div class="info-title">{{user.name}}</div>
        <div class="info-desc">{{user.city}}</div>
      </ion-col>
      <ion-col col-3 text-left class="botm" style="margin-top: 15px;">
        <button ion-button small round color="danger" outline (click)="unblock(user.id)" style="float: right;">
          <ion-icon name="close"></ion-icon>
        </button></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>