<!--
  Generated template for the OthersfriendPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Friends</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-refresher (ionRefresh)="getlist($event)">
    <ion-refresher-content refreshingText="Refreshing Data..">
    </ion-refresher-content>
  </ion-refresher>
  <div class="no-result-found" *ngIf="connections.length==0">
    <p>No Friend List </p>
  </div>
  <ion-card *ngFor="let user of connections" class="cardDesign1" (click)="userDetailPage(user.id)">
    <ion-row style="margin: 0px;">
      <ion-col col-3 text-center>
        <ion-avatar item-start class="imgAvatar">
          <img src="{{baseURL + user.profilePic}}" class="img-radius">
        </ion-avatar>
      </ion-col>
      <ion-col col-6 class="mar-t-5">
        <div class="info-title storeName text-400">{{user.firstName + ' ' + user.lastName}}</div>
        <div class="info-desc cityName">{{user.city}}</div>
      </ion-col>
      <ion-col col-3>
        <div class="info-title mutual-frnd storeName" *ngIf="user.friend">Mutual</div>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
