page-othersfriend {
  .cardDesign1 {
    margin: 0px;
    width: 100%;
    box-shadow: none;
    border-bottom: 1px solid #d2d2d2;
    padding: 0px 5px;
    text-align: left !important;
  }

  .img-radius {
    border-radius: 50%;
    height: 55px !important;
    width: 55px !important;
    border: 2px solid #9b99ec;
    margin: 3px 0px 1px 0px;
    display: inline-block;
  }

  .info-title {
    font-weight: bold;
    font-size: 1.5rem;
  }

  .info-desc {
    font-size: 1.2rem;
    color: #D3D3D3;
  }

  .imgAvatar {
    max-width: none;
  }


  .text-400 {
    font-weight: 400;
  }

  .mar-t-5 {
    margin-top: 5px;
  }

  .mutual-frnd {
    border: 1px solid #cccccc;
    padding: 8px 5px;
    border-radius: 20px;
    letter-spacing: 1px;
    font-size: 12px;
    color: #232222;
    text-align: center;
    margin-top: 10px;
    font-weight: 500;
  }

  .cityName {
    color: #868686;
  }
}


.ios{
  page-othersfriend{
    ion-content{
      .scroll-content{
        padding: 0px !important;
        margin-top: 65px !important;
      }
    }
  }
}