page-create-plan {
  .footer_Button {
    letter-spacing: 1px;
    font-size: 18px;
    height: 45px;
  }

  .myButton {
    color: #ccc;
    font-size: 1.2rem;
  }

  .footerBar {
    background: #9126EC;
    text-align: center;
  }

  .picker-md .picker-prefix,
  .picker-md .picker-suffix,
  .picker-md .picker-opts {
    background-color: #f7f0e7 !important;
  }

  .picker-opts {
    background-color: #ececeb !important;
  }

  ion-footer .toolbar {
    overflow: visible;
    display: block !important;
  }

  .scroll-content {
    padding-top: 0px !important;
  }

  .item-md ion-thumbnail {
    min-width: 0px;
    min-height: 0px;
  }

  .img-radius {
    border-radius: 50%;
    height: 60px !important;
    width: 60px !important;
  }

  .info-title {
    font-weight: bold;
    font-size: 1.5rem;
  }

  .padding {
    padding-top: 17px;
  }

  .row {
    margin-left: 0px;
  }

  .header {
    color: white;
    font-size: 1.5rem;
  }

  ion-card img {
    width: auto;
    display: inline;
    text-align: center !important;
    top: -10px;
    margin-top: -43px;
    border: 2px #fff solid;
    border-radius: 50%;
  }

  .item-md {
    padding-left: 0px;
  }

  .item-md.item-block .item-inner {
    padding-right: 8px;
    border: 1px solid #dedede;
    border-radius: 10px;
  }

  .item-input .label-md,
  .item-select .label-md,
  .item-datetime .label-md {
    font-size: 1.2rem;
  }

  ion-label {
    overflow: visible;
  }

  .text-input-md {
    font-size: 1.2rem;
  }

  .toggle-md {
    padding: 0px;
  }

  .toolbar-background {
    background: transparent;
  }

  .searchbar-md .searchbar-input {
    padding: 6px 30px 6px 40px;
    box-shadow: none;
    border: 1px solid #dedede;
  }

  .label-md {
    padding: 0px 10px;
    font-size: 13px;
  }
}


ion-footer .toolbar-content {
  border: 0px !important;
}


.icon-manual {
  top: 12px;
  height: 30px;
  width: 25px;
  background: url(./../assets/icons/newicons/dining-green.png);
  background-size: 100%;
  display: inline-block;
  position: relative;
  background-repeat: no-repeat;
  margin-left: 10px;
}

page-create-plan {
  #selectDate {
    pointer-events: none;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 0px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked+.slider {
    background-color: #4aebc6;
  }

  input:focus+.slider {
    box-shadow: 0 0 1px #4aebc6;
  }

  input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
}

.publicPrivateBtn {
  height: 40px;
  background: white;
  color: #9673ec;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 10px
}

.activeStatus {
  background: #4aebc6;
  color: white;
}



.placeName {
  font-size: 13px;

  &::-webkit-input-placeholder {
    font-size: 13px;
  }
}


.ios{
  page-create-plan{
    ion-content{
      .text-input{
        padding-left: 10px !important;
      }
      ion-col.datecustom button,      .item.item-textarea{
       border: 1px solid rgba(118, 72, 163, 0.25);
      }
    }
  }
}