<!--
  Generated template for the CreatePlanPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="navColor">
    <ion-title>Create Flyer</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <br>
  <ion-row>
    <ion-col col-7>
      <span class="icon-manual DINNING"></span>
      <span
        style="font-size: 13px; display: inline-block; font-weight: 500; color: #9b99ec; padding: 5px 15px; border: 1px solid #9b99ec; border-radius: 20px;">{{ expireName }}</span>
    </ion-col>
    <ion-col class="datecustom" col-5 style="position: relative; top: 0px;">
      <button (click)="changeDate(dates)"
        style="padding: 5px 10px; border-radius: 10px; position: absolute; right: 5px; top: 10px; width: 145px; height: 35px; z-index: 10; opacity: 0;">show
        calendar</button>
      <ion-item>
        <ion-input id="selectDate" placeholder="Select Date" [(ngModel)]="dates" (keypress)="changeDate(dates)">
        </ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col *ngIf="storeInfo!=' '">
      <ion-input [(ngModel)]="nameStore" type="text" readonly
        style="width: 96%; border: 1px solid #cccccc; margin: 0px auto; border-radius: 3px;">
      </ion-input>
    </ion-col>
    <ion-col *ngIf="storeInfo==' '">
      <ion-input class="placeName" [(ngModel)]="nameStore" type="text" placeholder="Place Name"
        style="width: 96%; border: 1px solid #cccccc; margin: 0px auto; border-radius: 3px;">
      </ion-input>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-12>
      <ion-toolbar *ngIf="storeInfo==' '">
        <ion-searchbar [(ngModel)]="query" (ionInput)="searchPlace()"></ion-searchbar>
      </ion-toolbar>
      <ion-toolbar *ngIf="storeInfo!=' '">
        <ion-searchbar [(ngModel)]="nameLocation" id="input">
        </ion-searchbar>
      </ion-toolbar>
      <ion-list>
        <ion-item *ngFor="let place of places" (touchstart)="selectPlace(place)" (click)="logplace(place)">
          {{place.description}}</ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
  <ion-row style="width: 45%; margin: 10px auto; margin-top: 10px;">
    <ion-col col-6 class="publicPrivateBtn" [class.activeStatus]="publicFlag" (click)="onPublicFlag(true)">
      <span>Public </span>
    </ion-col>
    <ion-col col-6 class="publicPrivateBtn" [class.activeStatus]="!publicFlag" (click)="onPublicFlag(false)">
      <span>Private </span>
    </ion-col>
  </ion-row>
  <ion-row style="margin-top: 10px;">
    <ion-col col-10 text-left class="myButton"
      style="color: #989696; letter-spacing: 1px; font-size: 13px; padding: 10px;">Description as my
      profile</ion-col>
    <ion-col col-2>
      <label class="switch">
        <input [(ngModel)]="isDescription" (change)="onDescriptionChange()" checked="false" type="checkbox" checked>
        <span class="slider round"></span>
      </label>
      <!-- <ion-toggle [(ngModel)]="isDescription" (ionChange)="onDescriptionChange()" checked="false"></ion-toggle> -->
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-12>
      <ion-item>
        <ion-textarea disabled="{{isDescription}}" [(ngModel)]="loginData.description"
          placeholder="Description text Required" rows="10" style="letter-spacing: 1px; white-space: pre-wrap;
          font-size: 13px;">
        </ion-textarea>
      </ion-item>

    </ion-col>
  </ion-row>


</ion-content>
<ion-footer>
  <ion-toolbar class="footerBar">
    <ion-buttons text-center (click)="createFlyer()">
      <button [disabled]="!loginData.description && disableButton" type="submit" ion-button block class="footer_Button">
        Submit
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>