// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.toolbar-background {
  background-color: #9126EC;
}

.heading {
    background: #f3f7f7;
    padding: 15px;
    color: rgba(0, 0, 0, 0.87);
    font-weight: bold;
}


.no-result-found{
  height: 60vh;
  text-align: center;
  p{
    margin: 5px 0px;
    font-size: 24px;
    padding-top: 45%;
    color: #e2e2e2;
    letter-spacing: 2px;
  }
}

.popover-md{
  background: rgba(58, 58, 58, 0.57);
}

.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
  box-shadow: none !important;
}