page-user-event {
  .info-desc{
    color: #868686;
    margin-top: 5px;
    letter-spacing: 1px;
    font-size: 13px;
  }
  .uninterested{
    border:1px solid #b7b7b7; line-height: 45px; font-size: 2.5rem; border-radius: 50%; color: #ea440e;
    text-align: center;
    height: 50px;
  }
  .interested{
    border:1px solid #b7b7b7; line-height: 49px; font-size: 2.5rem; border-radius: 50%; color: #32CD32;
    text-align: center;
    height: 50px;
  }
  .accordian{
    position: relative;
    top: 1px;
    ion-icon{
      position: absolute;
      right: 10px;
      top: -20px;
    }
    p{
      height: 0px;
      opacity: 0;
      overflow: hidden;
      transition: all 0.4s ease-in-out;
      color: #908f8f;
      font-size: 12px;
      &.show{
        opacity: 1;
        height: auto;
      }
    }
  }
  .uninterested-btn{
    font-size: 20px !important;
    border: 1px solid #d8d8d8 !important;
    height: 50px !important;
    width: 55px !important;
    color: #a5a5a5 !important;
    background: white !important;
    box-shadow: 2px 3px 5px rgba(130, 128, 128, 0.16);
  }
  .interested-btn{
    span{
      font-size: 19px !important;
      -webkit-transform: rotate(-15deg);
      transform: rotate(-7deg);
      display: inline-block;
      position: relative;
      top: -4px;
    }
    background: #48f8c8 !important;
    font-family: 'Pacifico', cursive;
    height: 50px !important;
    box-shadow: 2px 3px 5px rgba(130, 128, 128, 0.16);
  }
  .img-radius.user-image{
    border-radius: 50%; height: 80px !important; -webkit-border-radius: 50%; width: 80px !important; margin: 0px auto !important;
  }
  .ion-md-unfold{
    height: 20px;
    width: 20px;
    background: url('./../assets/icons/newicons/unfold-grey.png');
    background-size: 165%;
    background-repeat: no-repeat;
    &:before{
      content: '';
    }
    &.blue{
      background-size: 100%;
      background: url('./../assets/icons/newicons/unfold-blue.png');
    }
    &.green{
      background-size: 100%;
      background: url('./../assets/icons/newicons/unfold-green.png');
    }
    &.unfold{
      background-position: -7px 0px;
    }
    &.fold{
      background-position: -7px -15px;
    }
  }
}


.ios {
  page-user-event {
    ion-content.user-event {
      .scroll-content {
        margin-top: 5px !important;
      }
    }
  }
}
