<ion-content padding class="user-event">
  <div class="no-result-found" *ngIf="userinfo.flyers.length == 0">
    <p>No Events Created</p>
  </div>
  <ng-container *ngFor="let myEvent of userinfo.flyers; let i = index;">
    <ion-card [@listItemState]="'in'" *ngIf="myEvent.accepted!=true">
      <ion-row>
        <ion-col col-3 text-center style="top: 0px;">
          <ion-avatar item-start style="max-width: none;">
            <img src="{{baseURL + myEvent.backgroundImage}}" class="img-radius">
          </ion-avatar>
        </ion-col>
        <ion-col col-9>
          <div class="info-desc" style="line-height: 16px; color: #525252; text-align: left;">
            <div style="margin-bottom: 2px;" *ngIf="myEvent?.experienceNames?.length > 0">
              <span style="font-size: 14px; font-weight: 500;" *ngIf="myEvent?.experienceNames[0]">
                <img style="width: 20px; height: 20px; float: left;"
                  src="assets/icons/newicons/baseline-local_dining-2.png"
                  *ngIf="myEvent?.experienceNames[0] == 'DINNING'">
                <img style="width: 20px; height: 20px; float: left;"
                  src="assets/icons/newicons/baseline-local_bar-2.png" *ngIf="myEvent?.experienceNames[0] == 'DRINKS'">
                <img style="width: 20px; height: 20px; float: left;"
                  src="assets/icons/newicons/baseline-local_mall-2.png"
                  *ngIf="myEvent?.experienceNames[0] == 'SHOPPING'">
                <img style="width: 20px; height: 20px; float: left;"
                  src="assets/icons/newicons/baseline-local_movies-2.png"
                  *ngIf="myEvent?.experienceNames[0] == 'MOVIE'">
                <img style="width: 20px; height: 20px; float: left;"
                  src="assets/icons/newicons/baseline-local_cafe-2.png"
                  *ngIf="myEvent?.experienceNames[0] == 'COFFEE'">&nbsp;{{ myEvent?.experienceNames[0] }} </span>
              <span
                style="color: #f54f24; float: right; padding-right: 10px; text-transform: uppercase; font-weight: 500;"
                *ngIf="!myEvent?.public">Private</span>
              <span
                style="color: #32CD32; float: right; padding-right: 10px; text-transform: uppercase; font-weight: 500;"
                *ngIf="myEvent?.public">Public</span>
            </div>
            <!-- <div style="margin-bottom: 2px;  padding: 7px 0px 0px 0px;" *ngIf="myEvent?.storeName?.length > 0" >
                            <span *ngIf="myEvent.storeName"><b><ion-icon name="pin"></ion-icon>&nbsp;{{ myEvent.storeName }}</b></span>
                        </div> -->
            <div style="margin-bottom: 2px; padding: 7px 0px 0px 0px;" *ngIf="myEvent?.locality?.length > 0"
              (click)="goToGoogleMap(myEvent.location)">
              <ion-icon name="pin" role="img" class="icon icon-md ion-md-pin" aria-label="pin" ng-reflect-name="pin">
              </ion-icon>
              {{ myEvent.storeName }}, {{ myEvent.locality }}, {{myEvent.city}}
            </div>
            <div style="margin-bottom: 2px; padding: 3px 5px; padding-left: 0px;">
              <ion-icon class="ng-tns-c0-0 icon icon-md ion-md-calendar" aria-label="calendar" name="calendar"
                ng-reflect-name="calendar" role="img"
                style="font-size: 14px; position: relative; left: 2px; top: 1px; background-size: 73%;">
              </ion-icon>
              <span>{{myEvent.expiryDate | date: 'dd MMMM yyyy'}} </span>
            </div>
            <div class="accordian">
              <ion-icon *ngIf="myEvent?.description?.length > 0" (click)="showAccord[i] = !showAccord[i];"
                [class.unfold]="showAccord[i]" [class.fold]="!showAccord[i]" class="ion-md-unfold" name="restaurant">
              </ion-icon>
              <p [class.show]="showAccord[i]" style="white-space: pre-wrap;">{{ myEvent?.description }}</p>
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row style="margin: 15px 0px;">
        <ion-col col-12 class="btn-container" style="text-align: center;">
          <div style="display: inline-block;" (click)="uninterest(myEvent.id,i)">
            <button class="uninterested-btn">
              <ion-icon name="close"></ion-icon>
            </button>
            <!-- <ion-icon name="close"></ion-icon> -->
          </div>
          <div style="display: inline-block;" (click)="interest(myEvent.id,i)">
            <button class="interested-btn">
              <span>
                yasss !
              </span>
            </button>
          </div>
        </ion-col>
        <ion-col col-3></ion-col>
      </ion-row>
    </ion-card>
  </ng-container>
</ion-content>