page-person-detail {
  .scroll-content{
    padding-top: 0px !important;
  }
  .item-md ion-thumbnail {
      min-width: 0px;
      min-height: 0px;
  }
  .img-radius{
    border-radius: 50%;
    height: 60px !important;
    width: 60px !important;
  }
  .info-title{
    font-weight: bold;
    font-size: 1.5rem;
  }
  .padding {
    padding-top: 17px;
  }
  .row {
    margin-left: 0px;
  }
  .header {
    color: white;
    font-size: 1.5rem;
  }
  ion-card img {
    width: auto;
    display: inline;
    text-align: center !important;
    top: -10px;
    margin-top: -43px;
    border: 2px #fff solid;
    border-radius: 50%;
  }
}
