<!--
  Generated template for the PersonDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar hideBackButton="true">
    <ion-row class="header">
      <ion-col col-4 text-left>
        <ion-icon name="pin">&nbsp;Noida&nbsp;</ion-icon>
      </ion-col>
      <ion-col col-4 text-center style="border-radius: 5px;background-color: chocolate;">
        Comet Chat
      </ion-col>
      <ion-col col-4 text-right>
        <ion-icon name="chatbubbles"></ion-icon>&nbsp;&nbsp;<ion-icon name="search"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-navbar>

</ion-header>

<ion-content>
 
</ion-content>
