<!--
  Generated template for the SearchUserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding>
    <ion-refresher (ionRefresh)="allmyUser($event)">
        <ion-refresher-content  refreshingText="Refreshing Data..">
        </ion-refresher-content>
    </ion-refresher>
    <ion-searchbar placeholder="search users" [(ngModel)]="userTerm" (ionInput)="getItems($event,user)" (keyup.enter)="getItems($event,user)" animated="true"></ion-searchbar>
    <div *ngIf="userTerm ==''">
        <div class="strip">
            <span class="recentSearch">Recent Search</span>
            <span class="clearButton" (click)="clearSearch('USER')">clear search</span>
        </div>
        <!--<div class="no-result-found">-->
        <!--<p>No Recent Search </p>-->
        <!--</div>-->
        <div class="no-result-found" *ngIf="recentUser.length==0">
            <p>No Recent Search </p>
        </div>
        <ion-card *ngFor="let user of recentUser" class="cardDesign1" (click)="getUserProfileInfo(user.userId);">
            <ion-row style="margin: 0px;">
                <ion-col col-3 text-center>
                    <ion-avatar item-start class="imgAvatar">
                        <img src="{{baseURL + user.profilePic}}" class="img-radius">
                    </ion-avatar>
                </ion-col>
                <ion-col col-8>
                    <div class="info-title"  class="storeName">{{user.firstName + ' ' + user.lastName}}</div>
                    <div class="info-desc" class="cityName">{{user.city}}</div>
                </ion-col>
            </ion-row>
        </ion-card>
    </div>
    <div>
        <div class="no-result-found" *ngIf="userTerm && (userdata.length==0)">
            <p>No User Found</p>
        </div>
        <ion-card *ngFor="let user of userdata" class="cardDesign" (click)="getUserProfileInfo(user.id); addinRecent('USER',user.id)">
            <ion-row style="margin: 0px;">
                <ion-col col-3 text-center>
                    <ion-avatar item-start class="imgAvatar">
                        <img src="{{baseURL + 'dealsocio.com.enduser/' + user?.awsFolder + '/' + user?.profilePic}}" class="img-radius" >
                    </ion-avatar>
                </ion-col>
                <ion-col col-8>
                    <div class="info-title" class="storeName">{{user.firstName + ' ' + user.lastName}}</div>
                    <div class="info-desc" class="cityName">{{user.city}}</div>
                </ion-col>
            </ion-row>
        </ion-card>
    </div>
</ion-content>
