page-notifications {

}
ion-app.md [padding] .scroll-content{
	padding: 0;
}
ion-item.pl0{
	/*padding-left: 0 !important;*/
	border-bottom: 1px solid #dedede;
}
ion-item.pl0 ion-label{
	white-space: unset !important;
}
ion-item.pl0 ion-label p{
	font-size: 13px !important;
}
ion-item.pl0 .item-inner{
	border-bottom: none !important;
}
.notiTime{
	font-size: 10px;
	color: #E85F2F;
	float: right;
}

.ios{
	page-notifications{
		ion-content{
			.scroll-content{
				padding: 0px !important;
			}
		}
	}
}