<ion-header>

  <ion-navbar>
    <ion-title>Notifications</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

	<ion-list>
	  <ion-item *ngFor="let notification of notifications" [ngStyle]="{ 'background-color' : (notification.acknowledged) ? '#ffffff' : '#D3D3D3' }" (click)="goToNotificationRedirect(notification)" class="pl0">
		  <ion-avatar item-start *ngIf="notification.action == 'profile'">
	      <img src="{{notification.userData.profileImage}}">
	    </ion-avatar>
	    <ion-avatar item-start *ngIf="notification.action == 'flyer_request_list'">
	      <img src="{{notification.flyerData.profileImage}}">
	    </ion-avatar>
	    <p>{{ notification.event }}</p>
	    <div class="notiTime">{{ notification.createdOn | niceDateFormatPipe }}</div>
	  </ion-item>
	</ion-list>

	<!--<ion-infinite-scroll (ionInfinite)="doInfinite($event)" position="top" enabled="infiniteEnabled" threshold="1%">-->
   		<!--<ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>-->
	<!--</ion-infinite-scroll>-->

</ion-content>
