page-profile-info {
  .scroll-content{
    padding-top: 0px !important;
    padding: 0px 10px  !important;
  }
  .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color: black;
    background-color: transparent;
}

  .row{
    border-bottom: 1px solid #dedede;
  }
  .gender{
    padding-top: 18px;
  }



}


page-profile-info .bar-button-default-md{
  color: white !important;

}

.ios{
  page-profile-info{
    .scroll-content{
      margin-top: 65px !important;
    }
  }

}