<!--
  Generated template for the ProfileInfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>My Profile</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="navedit()">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="row">
    <div col-4>
      <p>Name</p>
    </div>
    <div col-8 style="text-align: right">
      <p>{{profiledetails.firstName}} {{profiledetails.lastName}}</p>
    </div>
  </div>
  <div class="row">
    <div col-4>
      <p>Description</p>
    </div>
    <div col-8 style="text-align: right">
      <p style="white-space: pre-wrap;">{{profiledetails.aboutYou}}</p>
    </div>
  </div>
  <div class="row">
    <div col-4>
      <p>Date of Birth</p>
    </div>
    <div col-8 style="text-align: right">
      <p>{{profiledetails.dob | date: 'dd MMMM yyyy'}}</p>
    </div>
  </div>
  <div class="row">
    <div class='male' col-8>
      <p>Gender</p>
    </div>
    <div class='gender' col-4 text-right *ngIf="profiledetails.sex === 'male'">
      <ion-icon name="male"> Male</ion-icon>
    </div>
    <div class='gender' col-4 text-right *ngIf="profiledetails.sex === 'female'">
      <ion-icon name="female" style="text-align-last: left"> Female</ion-icon>
    </div>
  </div>

  <div class="row">
    <div col-4>
      <p>City</p>
    </div>
    <div col-8 style="text-align: right">
      <p>{{profiledetails.city}}</p>
    </div>
  </div>

  <div class="row">
    <div col-4>
      <p>Occupation</p>
    </div>
    <div col-8 style="text-align: right">
      <p>{{profiledetails.work}}</p>
    </div>
  </div>
  <div class="row" (click)="phoneverify()">
    <div col-6>
      <p>Phone</p>
    </div>
    <div col-6 style="text-align: right">
      <p>{{profiledetails.phoneNo}} &nbsp;&nbsp;
        <ion-icon *ngIf="profiledetails.phoneVerified" name="checkmark-circle"></ion-icon>
        <ion-icon *ngIf="!profiledetails.phoneVerified" name="close-circle"></ion-icon>
      </p>
    </div>
  </div>
  <div class="row">
    <div col-4>
      <p>Email</p>
    </div>
    <div col-8 style="text-align: right" (click)="emailverify()">
      <p>{{profiledetails.email}} &nbsp;&nbsp;<ion-icon name="checkmark-circle" *ngIf="profiledetails.emailVerified">
        </ion-icon>
        <ion-icon name="close-circle" *ngIf="profiledetails.emailVerified==false"></ion-icon>
      </p>
      <!-- <p>{{profiledetails.email}} &nbsp;&nbsp;<ion-icon name="{{mailverified}}></ion-icon></p> -->
    </div>
  </div>
</ion-content>