page-search {
  .class1{
    //border-color: #9b99ec !important;
    opacity: 1 !important;
    color:pink !important;
  }
  .class2{
    //border-color: #9b99ec !important;
    opacity: 0.4;
    color:green !important;
  }
  .scroll-content{
    padding-top: 0px !important;
  }
  .item-md ion-thumbnail {
      min-width: 0px;
      min-height: 0px;
  }
  .strip{
    padding: 10px 15px; background: #eaeaea; height: 45px;
    text-align: left !important;
  }
  .clearButton{
    float: right;
    display: inline-block;
    padding: 3px 12px;
    background: #9b99ec;
    border-radius: 10px;
    color: white;
    font-weight: 500;
    height: 25px;
    font-size: 15px;
  }
  .recentSearch{
    padding-top: 3px;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1px;
    color: #6b69af;
    text-transform: capitalize;
  }
  .cardDesign1{
    margin: 0px; width: 100%; box-shadow: none; border-bottom: 1px solid #d2d2d2;opacity: 0.4;
    padding: 0px 5px;
    text-align: left !important;
  }
  .cardDesign{
    margin: 0px; width: 100%; box-shadow: none; border-bottom: 1px solid #d2d2d2;
    padding: 0px 5px;
    text-align: left !important;
  }
  .storeName{
    font-weight: 500; font-size: 16px; padding: 10px 0px 5px 0px;
  }
  .cityName{
    font-size: 13px; color: #7b7b7b;
  }
  .imgAvatar{
    max-width: none;
  }
  .myCol{
       top: 5px;
     }
     .searchbar-input{
      padding: 6px 45px !important;
     }
  .img-radius{
    border-radius: 50%;
    height: 55px !important;
    width: 55px !important;
    border: 2px solid #9b99ec;
    margin: 3px 0px 1px 0px;
    display: inline-block;
  }
  .place{
    .img-radius{
      margin: -2px 0px 5px 0px !important;
    }
  }
  .info-title{
    font-weight: bold;
    font-size: 1.5rem;
  }
  .padding {
    padding-top: 18px;
  }
  .row {
    // margin-left: 10px;
  }
  .info-desc{
    font-size: 1.2rem;
    color: #D3D3D3;
  }
  .grid {
    padding: 0px;
  }
}
page-search-tab{
  super-tab-button {
    background: white !important;
    color: #b0b0b0 !important;
    &.selected {
      background: #eaeaea !important;
      color: #9b99ec !important;
    }
  }
}
page-search{
  ion-slides{
    height: auto;
  }
  .swiper-container{
    height: auto;
  }
  // ion-segment{
  //   position: fixed;
  //   top: 55px;
  //   left: 0px;
  //   height: 40px;
  //   z-index: 10;
  //   background: white;
  // }

  // ion-slides{
  //   // margin-top: 35px;
  //   display: block;
  //   .swiper-container{
  //     display: block;
  //     .swiper-wrapper{
  //       display: flex;
  //       ion-slide{
  //         display: block;
  //         min-height: 100vh;
  //         .slide-zoom{
  //           display: block;
  //           ion-searchbar{
  //             display: block;
  //           }
  //         }
  //       }
  //     }
  //   }
  // }
}

