<ion-header>
  <ion-navbar>
    <ion-title style="color: white" ></ion-title>
    <ion-buttons end padding-right>
      <button ion-button icon-only *ngIf="!toggled" color="royal" (click)="goToChat()">
        <span *ngIf="unreadCount > 0" class="unreadCountClass">{{unreadCount}}</span>
        <img src="assets/icons/newicons/chat-white.png" height="24px" width="24px" >
      </button>
      <button ion-button icon-only *ngIf="!toggled" color="royal" (click)="goToNotifications()">
        <span *ngIf="unreadNotify > 0" class="unreadCountClass">{{unreadNotify}}</span>
        <img src="assets/icons/newicons/notifications-white.png" height="24px" width="24px" >
      </button>
    </ion-buttons>
  </ion-navbar>
  <!--<ion-toolbar no-border-top>-->
    <!--<ion-toolbar>-->
      <!--<ion-segment [(ngModel)]="events" (ionChange)="slides.slideTo(events)">-->
        <!--<ion-segment-button value="0" class="tabFixes" style="font-size: 14px; letter-spacing: 1px;">-->
          <!--Users-->
        <!--</ion-segment-button>-->
        <!--<ion-segment-button value="1" class="tabFixes" style="font-size: 14px; letter-spacing: 1px;">-->
          <!--Places-->
        <!--</ion-segment-button>-->
      <!--</ion-segment>-->
    <!--</ion-toolbar>-->
  <!--</ion-toolbar>-->
</ion-header>
<ion-content>

<ion-segment [(ngModel)]="events" >
    <ion-segment-button id="segmentSearch1" value="0" [ngClass]="(myActiveSlide == 0)?'segment-activated': null" (click)="goToSlide(0)">
      Users
    </ion-segment-button>
    <ion-segment-button value="1" [ngClass]="(myActiveSlide == 1)?'segment-activated': null" (click)="goToSlide(1)">
      Places
    </ion-segment-button>
  </ion-segment>
  <ion-slides #slides (ionSlideWillChange)="goTonextSlide()">
    <ion-slide class="user">
      <ion-searchbar placeholder="search users" [(ngModel)]="userTerm" (ionInput)="getItems($event,user)" (keyup.enter)="getItems($event,user)" animated="true"></ion-searchbar>
      <div *ngIf="userTerm ==''">
        <div class="strip">
            <span class="recentSearch">Recent Search</span>
            <span class="clearButton" (click)="clearSearch('USER')">clear search</span>
        </div>
        <!--<div class="no-result-found">-->
            <!--<p>No Recent Search </p>-->
          <!--</div>-->
        <div class="no-result-found" *ngIf="recentUser.length==0">
          <p>No Recent Search </p>
        </div>
        <ion-card *ngFor="let user of recentUser" class="cardDesign1" (click)="getUserProfileInfo(user.userId);">
          <ion-row style="margin: 0px;">
            <ion-col col-3 text-center>
              <ion-avatar item-start class="imgAvatar">
                <img src="{{baseURL + user.profilePic}}" class="img-radius">
              </ion-avatar>
            </ion-col>
            <ion-col col-8>
              <div class="info-title"  class="storeName">{{user.firstName + ' ' + user.lastName}}</div>
              <div class="info-desc" class="cityName">{{user.city}}</div>
            </ion-col>
          </ion-row>
        </ion-card>
      </div>
      <div>
        <div class="no-result-found" *ngIf="userTerm && (userdata.length==0)">
          <p>No User Found</p>
        </div>
        <ion-card *ngFor="let user of userdata" class="cardDesign" (click)="getUserProfileInfo(user.id); addinRecent('USER',user.id)">
          <ion-row style="margin: 0px;">
            <ion-col col-3 text-center>
              <ion-avatar item-start class="imgAvatar">
                <img src="{{baseURL + 'dealsocio.com.enduser/' + user?.awsFolder + '/' + user?.profilePic}}" class="img-radius" >
              </ion-avatar>
            </ion-col>
            <ion-col col-8>
              <div class="info-title" class="storeName">{{user.firstName + ' ' + user.lastName}}</div>
              <div class="info-desc" class="cityName">{{user.city}}</div>
            </ion-col>
          </ion-row>
        </ion-card>
      </div>
    </ion-slide>
    <ion-slide class="place">
      <ion-searchbar placeholder="search places" [(ngModel)]="searchTerm" (ionInput)="getStores($event,store)" [showCancelButton]="shouldShowCancel" (ionCancel)="cancelPlace($event)"></ion-searchbar>
      <div *ngIf="searchTerm ==''">
          <div class="strip">
              <span class="recentSearch">Recent Search</span>
              <span class="clearButton" (click)="clearSearch('STORE')">clear search</span>
          </div>
        <div class="no-result-found" *ngIf="recentPlace.length==0">
          <p>No Recent Search </p>
        </div>
        <ion-card *ngFor="let resstore of recentPlace"  class="cardDesign1" (click)="getPlaceInfo(resstore.storeId);">
          <ion-row>
            <ion-col col-3 text-center class="myCol">
              <ion-avatar item-start class="imgAvatar">
                <img src="{{baseURL + resstore.profilePic}}"  class="img-radius">
              </ion-avatar>
            </ion-col>
            <ion-col col-8  >
              <div class="info-title" class="storeName">{{resstore.storeName}}</div>
              <div class="info-desc" class="cityName">{{resstore.city}}</div>
            </ion-col>
          </ion-row>
        </ion-card>
      </div>
      <div *ngIf="storedata.storeList">
          <div class="no-result-found" *ngIf="searchTerm && (storedata.storeList.length==0)">
              <p>No Place Found</p>
            </div>
        <ion-card *ngFor="let store of storedata.storeList" class="cardDesign" (click)="getPlaceInfo(store); addinRecent('STORE',store.id);">
          <ion-row>
            <ion-col col-3 text-center class="myCol">
              <ion-avatar item-start class="imgAvatar">
                <img src="{{baseURL + 'dealsocio.com.place/' + store.profilePic}}" class="img-radius">
              </ion-avatar>
            </ion-col>
            <ion-col col-8  >
              <div class="info-title" class="storeName">{{store.storeName}}</div>
              <div class="info-desc" class="cityName">{{store.city}}</div>
            </ion-col>
          </ion-row>
        </ion-card>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
