page-myevents {
  .imgUI {
    width: 20px;
    height: 20px;
    float: left;
  }

  .remove-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #f59e97;
    transform: rotate(45deg);
    font-size: 18px;
  }

  .info-desc {
    font-size: 1.2rem;
    color: #D3D3D3;
  }

  .ion-md-unfold {
    height: 20px;
    width: 20px;
    background: red;
    background: url("./../assets/icons/newicons/unfold-grey.png");
    background-size: 165%;
    background-repeat: no-repeat;

    &:before {
      content: '';
    }

    &.blue {
      background-size: 100%;
      background: url('assets/icons/newicons/unfold-blue.png');
    }

    &.green {
      background-size: 100%;
      background: url('assets/icons/newicons/unfold-green.png');
    }

    &.unfold {
      background-position: -7px 0px;
    }

    &.fold {
      background-position: -7px -15px;
    }
  }

  .ion-md-calender {
    height: 15px;
    width: 15px;
    background: url(assets/icons/newicons/calender.png);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0px 5px 0px 3px;

    &:before {
      content: '';
    }
  }

  .chatButton {
    color: #384e7e;
    font-size: 17px;
    font-weight: 500;
    width: 49.5%;
    border-right: 2px solid #9b99ec;
  }

  .img-radius {
    border-radius: 50%;
    height: 70px !important;
    width: 70px !important;
    margin: 0px auto !important;
    margin-top: -10px !important;
  }

  .leaveButton {
    color: #cf3941;
    font-size: 17px;
    font-weight: 500;
  }

  .info-title {
    font-weight: bold;
    font-size: 1.5rem;
  }

  .accordian {
    position: relative;
    top: 1px;

    ion-icon {
      position: absolute;
      right: 65px !important;
      top: -20px !important;
    }

    p {
      height: 0px;
      opacity: 0;
      overflow: hidden;
      transition: all 0.4s ease-in-out;
      color: #908f8f;
      font-size: 12px;
      padding: 5px;

      &.show {
        opacity: 1;
        height: auto;
      }
    }
  }

  .colorTab {
    position: absolute;
    top: 50px;
    /* background: red; */
    right: 10px;
    padding: 2px 7px;
    border: 1px solid #d8d8d8;
    border-radius: 5px;
  }
  .accordian ion-icon{
    top: -25px !important;
  }
  .show-android{
    display: inline-block;
  }
  .show-ios{
    display: none;
  }
}

ion-alert {

  .alert-head {
    display: none;
  }

  .alert-message {
    padding-top: 20px !important;
    font-size: 18px;
    text-align: center;
  }

  .alert-button {
    border: 1px solid #9672ec;
    margin-bottom: 15px;
    border-radius: 3px;
    margin-bottom: 15px;
    height: 35px;
    margin-bottom: 10px;

    &:nth-child(2) {
      background: #9672ec;
      color: white;
      margin-left: 15px;
    }

    &:nth-child(1) {
      color: #9672ec;
    }
  }
}


.ios{
  super-tabs {
    page-myevents {
      ion-content{

        & > .scroll-content{
          margin-top: 0px !important;
        }
      }

.show-android{
  display: none;
}
      .show-ios{
        display: inline-block;
      }
      .info-desc{
        padding-left: 4px;
      }
      .info-cal{
        padding-left: 0px !important;
      }
    }
    .accordian ion-icon{
      right: 75px !important;
      top: -18px !important;
    }
  }
}