<!--
  Generated template for the MyeventsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding>
  <!--<ion-refresher (ionRefresh)="getEventsList($event)">-->
  <!--<ion-refresher-content  refreshingText="Refreshing Data..">-->
  <!--</ion-refresher-content>-->
  <!--</ion-refresher>-->
  <div class="no-result-found" *ngIf="my_events.length==0">
    <p>No Events</p>
  </div>
  <ion-card [@listItemState]="'in'" *ngFor="let event of my_events; let i = index;">
    <ion-row>
      <ion-col col-3 text-center style="top: 10px;">
        <ion-avatar item-start style="max-width: none;">
          <img src="{{baseURL + event.flyerImage}}" class="img-radius">
        </ion-avatar>
      </ion-col>
      <ion-col col-9 style="text-align: left !important;">
        <ion-icon (click)="presentConfirm(event.id,i)" ios="ios-add-circle" md="md-add-circle" class="remove-icon">
        </ion-icon>
        <div class="info-title" style="padding-bottom : 5px;">
          <span style="font-size: 15px; color: #6f6f70; font-weight: 500; display: block;">
            <img class="imgUI" src="assets/icons/newicons/baseline-local_dining-2.png"
              *ngIf="event?.experienceNames[0] == 'DINNING'">
            <img class="imgUI" src="assets/icons/newicons/baseline-local_bar-2.png"
              *ngIf="event?.experienceNames[0] == 'DRINKS'">
            <img class="imgUI" src="assets/icons/newicons/baseline-local_mall-2.png"
              *ngIf="event?.experienceNames[0] == 'SHOPPING'">
            <img class="imgUI" src="assets/icons/newicons/baseline-local_movies-2.png"
              *ngIf="event?.experienceNames[0] == 'MOVIE'">
            <img class="imgUI" src="assets/icons/newicons/baseline-local_cafe-2.png"
              *ngIf="event?.experienceNames[0] == 'COFFEE'">
            &nbsp;&nbsp;{{ event?.experienceNames[0] }}</span>
        </div>
        <div class="info-desc" style="color: #a7a7a7; line-height: 16px; margin-bottom: 5px;">
          <span *ngIf="event?.storeName" (click)="goToGoogleMap(event.location)"><b>
              <ion-icon name="pin"></ion-icon>&nbsp;&nbsp;{{ event.storeName }}<ng-container *ngIf="event?.city">,
              </ng-container> {{ event?.city }}
            </b></span>
          <span *ngIf="!event?.storeName" (click)="goToGoogleMap(event.location)"><b>
              <ion-icon name="pin"></ion-icon>&nbsp;&nbsp;{{ event?.locality }}<ng-container *ngIf="event?.city">,
              </ng-container> {{ event?.city }}
            </b></span>
        </div>
        <div class="info-desc info-cal" style="color: #a7a7a7; line-height: 16px;">
          <ion-icon class="ng-tns-c0-0 icon icon-md ion-md-calendar" name="calendar" role="img"
            style="font-size: 14px; position: relative; left: 2px; top: 1px; background-size: 73%;"
            aria-label="calendar" ng-reflect-name="calendar"></ion-icon>

          <span class="show-android" style="font-weight: 900;">{{event.expiryDate | date: 'dd MMMM yyyy'}}</span>
          <span class="show-ios" style="font-weight: 900;">{{event.expiryDate | date: 'dd-MMM-yyyy'}}</span>
          <span class="colorTab" *ngIf="!event.isActive && !event.expired"
            style="background:rgb(216, 125, 118) !important;  color: white !important; font-weight: 900;">Expired</span>
          <ng-container *ngIf="!(!event.isActive && !event.expired)">
            <span class="colorTab" *ngIf="!event.public">Private</span>
            <span class="colorTab" *ngIf="event.public">Public</span>
          </ng-container>
        </div>
        <div class="accordian" *ngIf="event?.description?.length > 0">
          <ion-icon (click)="showAccord2[i] = !showAccord2[i];" [class.unfold]="showAccord2[i]"
            [class.fold]="!showAccord2[i]" class="ion-md-unfold" name="restaurant" style="top: -25px !important;">
          </ion-icon>
          <p [class.show]="showAccord2[i]" style="white-space: pre-wrap;">{{ event?.description }}</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 10px;" *ngIf="!(!event.isActive && !event.expired)">
      <ion-col col-6 text-center
               style="color: #384e7e; font-size: 14px; font-weight: 500; width: 49.5%; border-right: 2px solid #9b99ec;"
               (click)="getInterestedList(event.id)" > {{event.requestedUsers.length}} Interested</ion-col>
      <ion-col col-6 text-center style="color: #cf3941; font-size: 14px; font-weight: 500; text-align: center;">
        <span style="color: #384e7e; font-weight: 500; " (click)="getAccepted(event.id)">{{event.memberUsers.length}}
          Accepted</span>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 10px;" *ngIf="!event.isActive && !event.expired">
      <ion-col col-6 text-center
        style="color: #384e7e; font-size: 14px; font-weight: 500; width: 49.5%; border-right: 2px solid #9b99ec;opacity: 0.5"> {{event.requestedUsers.length}} Interested</ion-col>
      <ion-col col-6 text-center style="color: #cf3941; font-size: 14px; font-weight: 500; text-align: center; opacity: 0.5">
        <span style="color: #384e7e; font-weight: 500; ">{{event.memberUsers.length}}
          Accepted</span>
      </ion-col>
    </ion-row>
    <br>
  </ion-card>
  <ion-infinite-scroll *ngIf="noapicall" threshold="100px" (ionInfinite)="getData($event)">
    <ion-infinite-scroll-content [class.minHeight]="showScrollFlag" loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
