<!--
  Generated template for the OtpverPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Email Verify</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card style="position: absolute; top: 30%; width: 80%; left: 7%; box-shadow: none;">
    <form #loginForm="ngForm" (ngSubmit)="verify()" *ngIf="EmailType" novalidate>
      <ion-list class="loginList" no-lines>
        <ion-item style="padding: 0px;">
          <ion-label class="inptLabel" stacked>Email </ion-label>
          <ion-input class="border-bottom " [(ngModel)]="login.username"
            pattern="^[A-Za-z0-9]+(\.[_A-Za-z0-9]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9-]+)*(\.[A-Za-z]{2,15})$" maxlength="60"
            placeholder="Email ID*" name="username" type="email" #username="ngModel" spellcheck="false"
            autocapitalize="off" required>
          </ion-input>
        </ion-item>
        <div ion-text *ngIf="username.errors && (username.dirty || username.touched)" class="alert alert-danger"
          color="danger">
          <div [hidden]="!username.errors.required" style="padding: 10px 15px;">
            Email is required
          </div>
          <div [hidden]="!username.errors.pattern" style="padding: 10px 15px;">
            Email is not valid
          </div>
          <div [hidden]="!username.errors.maxlength" style="padding: 10px 15px;">
            Email cannot be more than 60 characters long.
          </div>
        </div>
        <button class="login-btn" ion-button type="submit" [disabled]="!loginForm.valid" block
          style="border-radius: 50px;">Verify</button>
      </ion-list>
    </form>
  </ion-card>
</ion-content>