page-new-event {

}

page-new-event .toolbar-background{
        background: #9126EC !important;
}

.ios{
        page-new-event{
                ion-content{
                        & > .scroll-content{
                                padding: 0px !important;
                                margin-top: 65px !important;

                        }
                }
        }
}