page-user-list {
  .scroll-content{
    padding-top: 0px !important;
  }
  .item-md ion-thumbnail {
      min-width: 0px;
      min-height: 0px;
  }
  .img-radius{
    border-radius: 50%;
    height: 60px !important;
    width: 60px !important;
  }
  .info-title{
    font-weight: bold;
    font-size: 1.5rem;
  }
  .padding {
    padding-top: 17px;
  }
  .row {
    margin-left: 10px;
  }
  .button-small-md{
    height: 2.3em !important;
    width: 2.3em !important;
    float: right;
    &.chatButton{
      margin-right: 20px;
    }
  }
  .button-round-md{
    padding: 2px 6px;
  }
  // .chatButton{
  //   position: absolute;
  // }
  .grid{
    border: 1px solid #e4e4e4;
  }
}

.ios{
  page-user-list{
    button{
      padding: 8px;
      &.close{
        padding: 10px;
        margin-right: 10px;
      }
    }
  }
}