<!--
  Generated template for the UserListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Accepted Users</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="no-result-found" *ngIf="acceptList.length==0">
    <p>No Accepted User</p>
  </div>
  <ion-grid *ngFor="let user of acceptList">
    <ion-row>
      <ion-col col-3 text-center (click)="getinfo(user.id)">
        <ion-avatar item-start>
          <img src="{{baseURL + user.profilePic}}" class="img-radius">
        </ion-avatar>
      </ion-col>
      <ion-col col-5 class="padding" (click)="getinfo(user.id)">
        <div class="info-title">{{user.firstName + ' ' + user.lastName}}</div>
        <div class="info-desc">{{user.city}}</div>
      </ion-col>
      <ion-col col-4 text-left style="margin-top: 15px;">
        <button ion-button small round color="danger" class="close" outline (click)="removeUser(user.id)">
          <ion-icon name="close"></ion-icon>
        </button>
        <button ion-button class="chatButton" small round color="primary" outline (click)="goToChatWindow(user)">
          <ion-icon name="chatboxes"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>