<!--
  Generated template for the FlyerreqPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Interests</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="no-result-found" *ngIf="reqlist.length==0">
    <p>No Interests</p>
  </div>
  <ng-container *ngIf="reqlist?.length > 0">
    <ion-grid *ngFor="let user of reqlist">
      <ion-row>
        <ion-col col-3 text-center (click)="getinfo(user.id)">
          <ion-avatar item-start>
            <img src="{{baseURL + user.profilePic}}" class="img-radius">
          </ion-avatar>
        </ion-col>
        <ion-col col-5 class="padding" (click)="getinfo(user.id)">
          <div class="info-title">{{user.firstName + ' ' + user.lastName}}</div>
          <div class="info-desc">{{user.city}}</div>
        </ion-col>
        <ion-col col-4 text-right style="margin-top: 15px;">
          <button ion-button small round outline (click)="actionReq(user.id,true)">
            <ion-icon name="checkmark"></ion-icon>
          </button>
          <button class="close-icon" ion-button small round color="danger" outline (click)="actionReq(user.id,false)">
            <ion-icon name="close"></ion-icon>
          </button></ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>
</ion-content>