page-flyerreq {
	.scroll-content{
    padding-top: 0px !important;
  }
  .item-md ion-thumbnail {
      min-width: 0px;
      min-height: 0px;
  }
  .img-radius{
    border-radius: 50%;
    height: 60px !important;
    width: 60px !important;
  }
  .info-title{
    font-weight: bold;
    font-size: 1.5rem;
  }
  .padding {
    padding-top: 17px;
  }
  .row {
    margin-left: 10px;
  }
  .button-small-md{
    height:1.7em !important;
  }
  .button-round-md{
    padding: 2px 6px;
  }
  .button-outline-md{
    background-color: white;
    border-color: #9b99ec;
    color: #9b99ec;
    height: 2.3em !important;
    width: 2.3em;
  }
  .button-outline-md-danger{
    background-color: white;
    border-color: #e93a3a;
    color: #e93a3a;
    &.close-icon{
      margin-left: 20px;
    }
  }
}

.ios{
  page-flyerreq{
    button{
      padding: 10px;
      &.close-icon{
        margin-left: 10px !important;
      }
    }
  }
}
