page-signup {
	.tempCover {
		display: block;
		position: relative;
		height: 35px;
		width: 212px;
		position: absolute;
		left: 110px;
		top: 5px;
		border-radius: 25px;
		color: transparent;
		z-index: 10;
		opacity: 0;
	}
	.gender {
		margin-left: 15px;
	}

	.box {
		background: #f5eaea2e;
		border: 1px solid #928484;
	}

	.signup-form {
		padding: 20px 15px 0px 15px;

		ion-item {
			padding-left: 0px !important;
		}

		ion-label {
			font-size: 13px;
			margin: 5px;
			max-width: 75px;
		}

		ion-input {
			border: 1px solid #9672ec;
			height: 35px;
			border-radius: 25px;
			margin: 0px !important;
			font-size: 12px;
			padding: 2px;
		}

		.text-input-md {
			margin: 7px 8px;
		}

		.item-inner {
			border-bottom: 0px !important;
		}
	}

	.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus)
		.item-inner {
		box-shadow: none;
	}

	ion-item {
		* {
			box-shadow: none !important;
		}

		&.item-inner {
			outline: 0px !important;
			border-top: 0px !important;
			border-left: 0px !important;
			border-right: 0px !important;
		}
	}

	#selectDate {
		//pointer-events: none;
		//color: transparent;
		text-shadow: 0 0 0 transparent;
		&:focus {
			outline: none;
		}
	}

	.genderlist {
		.item-md.item-block .item-inner {
			border-bottom: 0px !important;
		}
		.item-radio.item-md ion-label {
			font-size: 13px;
			// letter-spacing: 1px;
		}
	}
}
