<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar>
		<ion-title>Sign Up</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<form
		class="mt-60 signup-form"
		(ngSubmit)="onTest(myForm)"
		[formGroup]="myForm"
	>
		<ion-item>
			<ion-label class="ft-14 text-skyblue text-bold" color="primary" fixed
				>First Name<span *ngIf="myForm.controls['firstname'].valid">
					<!-- <ion-icon color="secondary" name="checkmark-circle"></ion-icon> -->
				</span></ion-label
			>
			<ion-input
				class="border-bottom"
				class="box"
				type="text"
				formControlName="firstname"
				name="firstname"
			></ion-input>
		</ion-item>
		<ion-item>
			<ion-label class="ft-14 text-skyblue text-bold" color="primary" fixed
				>Last Name<span *ngIf="myForm.controls['lastname'].valid">
					<!-- <ion-icon color="secondary" name="checkmark-circle"></ion-icon> -->
				</span></ion-label
			>
			<ion-input
				class="border-bottom"
				class="box"
				type="text"
				formControlName="lastname"
				name="lastname"
			></ion-input>
		</ion-item>
		<ion-item>
			<ion-label class="ft-14 text-skyblue text-bold" color="primary" fixed
				>Email<span *ngIf="myForm.controls['email'].valid">
					<!-- <ion-icon color="secondary" name="checkmark-circle"></ion-icon> -->
				</span></ion-label
			>
			<ion-input
				class="border-bottom"
				class="box"
				type="email"
				formControlName="email"
				name="email"
			></ion-input>
		</ion-item>
		<ion-item>
			<ion-label class="ft-14 text-skyblue text-bold" color="primary" fixed
				>Phone No<span *ngIf="myForm.controls['phone'].valid">
					<!-- <ion-icon color="secondary" name="checkmark-circle"></ion-icon> -->
				</span></ion-label
			>
			<ion-input
				class="border-bottom"
				type="number"
				class="box"
				formControlName="phone"
				name="phone"
			></ion-input>
		</ion-item>
		<ion-row>
			<ion-list
				class="genderlist"
				formControlName="gender"
				radio-group
				style="width: 96%;"
			>
				<ion-label
					style="width: 100%; max-width: none; padding: 5px 0px; color: #a29fed; border-bottom: 1px solid #9672ec; font-size: 13px; text-transform: uppercase; font-style: italic; font-weight: 500; letter-spacing: 1px;"
					class="ft-14 gender text-skyblue text-bold"
					color="primary"
					fixed
					>Gender</ion-label
				>
				<ion-col>
					<ion-item style="width: 30%; float: left; padding-left: 5px;">
						<ion-label fixed>Male</ion-label>
						<ion-radio value="male"></ion-radio>
					</ion-item>
				</ion-col>
				<ion-col>
					<ion-item style="width: 30%; float: left; margin-left: 20%;">
						<ion-label fixed>Female</ion-label>
						<ion-radio value="female"></ion-radio>
					</ion-item>
				</ion-col>
			</ion-list>
		</ion-row>
		<!-- <ion-item class="genderlist" style="position: relative;
    top: -20px;">
      <ion-label
        style="width: 100%; max-width: none; padding: 5px 0px; color: #a29fed; border-bottom: 1px solid #9672ec; font-size: 13px; text-transform: uppercase; font-style: italic; font-weight: 500; letter-spacing: 1px;"
        (click)="changeDate(dates)">Show Calendar</ion-label>
    </ion-item> -->
		<ion-item style="position: relative; top: -10px;">
			<ion-label style="pointer-events: auto;"

				class="ft-14 text-skyblue text-bold"
				color="primary"
				fixed
				>DOB
				<span *ngIf="myForm.controls['dob'].valid">
					<!-- <ion-icon color="secondary" name="checkmark-circle"></ion-icon> -->
				</span>
				<span (click)="changeDate(dates)" class="tempCover"></span>
			</ion-label
			>
			<ion-input
				(click)="changeDate(dates)"
				id="selectDate"
				placeholder="Select Date"
				class="box"
				formControlName="dob"
				name="dob"
			></ion-input>
		</ion-item>
		<button
			[disabled]="!myForm.valid"
			class="login-btn"
			ion-button
			type="submit"
			block
		>
			Sign up
		</button>
	</form>
</ion-content>
