<!--
  Generated template for the PopoverPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--<ion-header>-->

  <!--<ion-navbar>-->
    <!--<ion-title style="-->
    <!--text-align: center;">Make Action</ion-title>-->
  <!--</ion-navbar>-->

<!--</ion-header>-->    
    <ion-content>
      <!-- <ng-container *ngIf="!userinfo?.friend && !userinfo?.friendRequestReceived && !userinfo?.friendRequestSent">
        <button style="padding: 0px 10px;" ion-item (click)="this.sendRequest(userinfo.id)">Send Connection Request</button>
      </ng-container>
      <ng-container *ngIf="!userinfo?.friend && !userinfo?.friendRequestSent && userinfo?.friendRequestReceived">
        <button style="padding: 0px 10px;" ion-item>Accept Connection Request</button>
      </ng-container>
      <ng-container *ngIf="!userinfo?.friend && !userinfo?.friendRequestSent && userinfo?.friendRequestReceived">
        <button style="padding: 0px 10px;" ion-item (click)="this.cancelRequest(userinfo.id)">Reject Connection Request</button>
      </ng-container>
      <ng-container *ngIf="userinfo?.friends && !userinfo?.friendRequestSent && !userinfo?.friendRequestReceived">
        <button style="padding: 0px 10px;" ion-item>Remove Connection</button>
      </ng-container> -->
        <button style="padding: 0px 10px;" ion-item (click)="this.blockuser(userinfo.id)">Block</button>
        <button style="padding: 0px 10px;" ion-item (click)="this.report(userinfo.id,'Block User')">Report</button>
    </ion-content>
