page-popover {
  .fixed-content, .scroll-content {
    margin-top: 1px !important;
  }
  [tappable] {
    opacity: 0.5 !important;
  }
  button{
    padding-left: 0px;
  }
}


.popup-overlay{
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  background: red;
}