<ion-header>
    <ion-navbar color="navColor">
        <ion-title style="color: white" ></ion-title>
        <ion-buttons end padding-right *ngIf="exLength==0">
            <button ion-button icon-only *ngIf="!toggled" color="royal" (click)="goToChat()">
                <span *ngIf="unreadCount > 0" class="unreadCountClass">{{unreadCount}}</span>
                <img src="assets/icons/newicons/chat-white.png" height="24px" width="24px" >
            </button>
            <button ion-button icon-only *ngIf="!toggled" color="royal" (click)="goToNotifications()">
                <span *ngIf="unreadNotify > 0" class="unreadCountClass">{{unreadNotify}}</span>
                <img src="assets/icons/newicons/notifications-white.png" height="24px" width="24px" >
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card (click)="expdetail(exper)" *ngFor="let exper of dataList">
      <img src="{{baseURL + exper.image}}"/>
      <div class="card-title layer">{{exper.displayName}}</div>
    </ion-card>
</ion-content>
