page-experiance {
  ion-card {
    position: relative;
    text-align: center;
  }
  .toolbar-background {
    background-color: #E85F2F;
  }
  .card-title {
    position: absolute;
    top: 36% !important;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }
  .layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .scroll-content{
    padding-top: 0px !important;
  }
  ion-app.md [padding] .scroll-content{
    padding: 0px !important;
  }
}
