page-place-detail {
  .card-background-page {
    background-size: contain;
  }

  ion-slides {
    height: 100% !important;
  }

  .slides-margin-bottom {
    height: 100% !important;
  }

  .scroll-content {
    padding-top: 0px !important;
  }

  .item-md ion-thumbnail {
    min-width: 0px;
    min-height: 0px;
  }

  .img-radius {
    border-radius: 50%;
    height: 60px !important;
    width: 60px !important;
  }

  .info-title {
    font-weight: bold;
    font-size: 1.5rem;
  }

  .padding {
    padding-top: 17px;
  }

  .row {
    margin-left: 0px;
  }

  .skip-next-button-margin {
    margin-top: -70px;
  }

  .slides-padding-bottom {
    padding-bottom: 18px;
  }

  .swiper-pagination-bullet-active {
    background: #ffffff;
  }

  ion-slides {
    display: block;
    width: 100%;
    height: 200px;
  }

  .swiper-pagination {
    margin-top: -10px;
    text-align: right;
  }

  .slide-zoom {
    text-align: left;
    display: block;
    width: 100%;
    margin-left: 10px;
    margin-bottom: -100px;
    color: white;
  }

  .header {
    color: white;
    font-size: 1.5rem;
  }

  .store-name {
    font-size: 1.8rem;
    margin-top: 0px;
    margin-bottom: 2px !important
  }

  .store-location {
    margin: 0px;
    font-size: 1.2rem;
  }

  .row-fixes {
    font-size: 20px;
    padding: 0px 10px;
  }

  .restra-color {
    color: rgb(59, 59, 59);
  }

  .font-fixes {
    font-size: 18px;
  }

  .my-category {
    background-color: #ccc;
    padding: 2px 10px;
    border-radius: 20px;
    font-size: 18px;
  }

  .flyer-fixes {
    background-color: #ccc;
    padding: 2px;
    border-radius: 20px;
    font-size: 18px;
    letter-spacing: 0.5px;
  }

  .create-plan {
    background: #fac9af;
    color: #353535 !important;
    height: 45px;
    font-size: 18px;
    letter-spacing: 1px;
  }

  .swiper-pagination-fraction,
  .swiper-pagination-custom,
  .swiper-container-horizontal>.swiper-pagination-bullets {
    bottom: 22px;
  }

  .myOverlay {
    background: -webkit-linear-gradient(#270404, #271414);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 100%;
    padding: 10px 15px;
    position: absolute;
    z-index: 99;
    bottom: 0px;
    opacity: 0.7;
    color: #fff;

    h4 {
      font-size: 22px !important;
      font-weight: 500;
    }

    p {
      font-size: 14px !important;
      font-weight: 500;
    }
  }
}

.activeFlyer {
  border: 2px solid #ccc;
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 14px;
  letter-spacing: 0.5px;
  color: #353535;
}

page-place-detail .swiper-pagination-bullet-active{
  display: none;
}



.ios{
  page-place-detail{
    .scroll-content > div{
      margin-bottom: 0px !important;
      margin-left: 0px !important;
      margin-right: 0px !important;
      ion-slide{
        width: 100%;
      }
    }
  }
}