<ion-header>

  <ion-navbar>
    <ion-title style="color: #E85F2F">{{storedata.storeName}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding style="background: #f6f6f6;">
  <div
    style="padding: 7px; margin: 15px; background: white; border-radius: 5px; box-shadow: 2px 3px 6px rgba(160, 160, 160, 0.4117647058823529);">
    <div style=" height: 33vh; position: relative;">
      <span style="position: absolute; width: 100px; height : 20px; left: 0px; top: 8px; float: right; z-index: 10;">
        <span class="flyer-fixes activeFlyer"
          style="    border: none; padding: 8px 15px; border-radius: 0px; font-size: 16px; letter-spacing: 0.5px; color: white; background: #9672ec; font-weight: 600; border-top-right-radius: 15px; border-bottom-right-radius: 15px;">1
          Flyers</span>
      </span>
      <ion-slides pager="true" style="slides-margin-bottom; height: 45vh; pointer-events: none;">
        <!-- <ion-slide *ngFor="let backImage of storedata.pics" class="card-background-page" [style.background-image]="getsana(baseURL + backImage)">
      </ion-slide> -->
        <ion-slide pager="true" class="card-background-page "
          [style.background-image]="getsana(baseURL + storedata?.profilePic)">
        </ion-slide>
      </ion-slides>
    </div>
    <div style="height: 65px; padding: 15px 10px 0px 10px;">
      <h4 class="store-name" style="font-size: 22px;">
        {{storedata.storeName}}
        <!-- <span style="float: right;">
          <span
            style="border: 2px solid #ccc; padding: 5px 15px; border-radius: 20px; font-size: 16px; letter-spacing: 0.5px; color: #353535; background: transparent;"
            (click)="getFlyerFeedByPlace(storedata.id)" class="flyer-fixes activeFlyer">{{ Flyerslength }} Flyers</span>
        </span> -->
      </h4>
      <p class="store-location" style="color: grey;">
        {{storedata.locality}},{{storedata.city}} &nbsp;
        <!-- {{storedata.distance}} Away -->
      </p>
    </div>

    <!-- <ion-row class="row-fixes">
    <ion-col col-1 text-center>
      <ion-icon name="flash" class="restra-color"></ion-icon>
    </ion-col>
    <ion-col col-11>
      <span (click)="getFlyerFeedByPlace(storedata.id)" class="flyer-fixes">{{ Flyerslength }} Flyers</span>
    </ion-col>
  </ion-row> -->

    <ion-row class="row-fixes">
      <ion-col col-1 text-center>
        <ion-icon name="information-circle" class="restra-color"
          style="font-size: 16px; color: #3b3b3b; position: relative; top: -5px;"></ion-icon>
      </ion-col>
      <ion-col col-11 text-left class="font-fixes" style="font-size: 14px; color: grey; padding: 5px 0px;">
        {{storedata.description}}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12 text-center>
        <button ion-button round block (click)="createPlan()" class="create-plan"
          style="background-image: linear-gradient(to right, #9b99ec , #a77aef); color: white !important; height: 45px; font-size: 18px; letter-spacing: 1px;">Create
          Plan</button>
      </ion-col>
    </ion-row>


  </div>
</ion-content>