page-friendlist {
  .scroll-content{
    padding-top: 0px !important;
  }
  .item-md ion-thumbnail {
      min-width: 0px;
      min-height: 0px;
  }
  .img-radius{
    border-radius: 50%;
    height: 60px !important;
    width: 60px !important;
  }
  .info-title{
    font-weight: bold;
    font-size: 1.5rem;
  }
  .padding {
    padding-top: 17px;
  }
  .row {
    margin-left: 10px;
  }
  .button-small-md{
    height:1.7em !important;
  }
  .button-round-md{
    padding: 2px 6px;
    height: 2.3em !important;
    width: 2.3em !important;
    &.close{
      margin-left: 20px;
    }
  }
}

.ios{
  page-friendlist{
    .fixed-content{
      margin-top: 45px !important;
    }
    .button-round-ios{
      padding: 0px 7px !important;
    }
    .button-round-ios.close{
      padding: 0px 10px !important;
    }
    .scroll-content{
      margin-top: 65px !important;
    }
    .close{
      margin-left: 10px !important;
    }
  }
}
