<!--
  Generated template for the Friendlist page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Friends</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="no-result-found" *ngIf="connections.length==0">
    <p>Add Friends</p>
  </div>
  <ion-grid *ngFor="let friend of connections">
    <ion-row>
      <ion-col col-3 text-center>
        <ion-avatar item-start>
          <img src="{{baseURL + friend.image}}" class="img-radius" (click)="userDetailPage(friend.id)">
        </ion-avatar>
      </ion-col>
      <ion-col col-5 class="padding">
        <div class="info-title" (click)="userDetailPage(friend.id)">{{friend.name}}</div>
        <div class="info-desc">{{friend.city}}</div>
      </ion-col>
      <ion-col col-4 text-right style="margin-top: 15px;">
        <button ion-button small round outline (click)="goToChatWindow(friend)">
          <ion-icon name="chatboxes"></ion-icon>
        </button>
        <button class="close" ion-button small round color="danger" outline (click)="removecontact(friend.id)">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>