<!--
  Generated template for the FaqPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>FAQ</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <ion-card-header text-wrap>
      <p class="ques"> 1. Will DealSocio post anything on my Facebook timeline if I login using Facebook account?</p>
    </ion-card-header>
    <ion-card-content>
      <p>No DealSocio will never post anything on your timeline if you login using Facebook account</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header text-wrap>
      <p class="ques">2. I am not getting notifications regularly, what should I do?</p>
    </ion-card-header>
    <ion-card-content>
      <p>Your mobile is not letting application start for push notification, you need to go to your
        dealsocio app system setting Ex : Setting -> Installed apps - Dealsocio. Enable AutoStart feature
        to get the seamless notification for every events</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header text-wrap>
      <p class="ques">3. What is the difference between public and private events?</p>
    </ion-card-header>
    <ion-card-content>
      <p>Public events are visible to all users whose search radius is more than your events distance.
        Private events are visible only to your Dealsocio connections whose search radious is more than your
        events distance.</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header text-wrap>
      <p class="ques">4. What is the benefit of having connections on Dealsocio?</p>
    </ion-card-header>
    <ion-card-content>
      <p>Having connections on Dealsocio allows you to create private events for friends. Consider you are in
        another city for a visit and you want to connect with your friends in that city. You just need to create
        an event you want to go to, all of your app friends will see your post whether private and public and
        they can connect with you for an awesome get together.</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header text-wrap>
      <p class="ques">5. Can I block/report anyone for a bad behaviour?</p>
    </ion-card-header>
    <ion-card-content>
      <p>Yes, you can block a profile and that person will not be able to see your profile and activities any long.
        Further you can report any profile or events for any visible bad behavior.</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header text-wrap>
      <p class="ques">6. Can I modify the event date?</p>
    </ion-card-header>
    <ion-card-content>
      <p>No, for now you cannot change the date of an event. Reason being for any interests, date can be a factor of
        concern. Further there may be an update relevant to this. For now you can remove and create a new event all
        toghether.</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header text-wrap>
      <p class="ques">7. What happens when I get accepted in anyones event?</p>
    </ion-card-header>
    <ion-card-content>
      <p>You can see that accepted event in your accepted events tab and you can directly chat with the event creator.
        You need not be a friend of that person to connect. Till you exist in the accepted list of the event, you can
        connect with the creator.</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header text-wrap>
      <p class="ques">8. What will happen if I remove myself from an accepted event?</p>
    </ion-card-header>
    <ion-card-content>
      <p>That event will no longer come in you accepted event. Moreover if you are not friends with that person or you
        are not accepted in another event of that person, you can no longer chat with that person.</p>
    </ion-card-content>
  </ion-card>
</ion-content>
