<ion-header>
  <ion-navbar>
    <ion-title (click)="goToProfile(userId)">
    	<ion-avatar item-start>
          <img src="{{baseURL + profilePic}}" class="img-square img-radius">
        </ion-avatar>
        {{userName}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-fab top right *ngIf="valid" (click)="hideFab(true)" #fab>
  <button ion-fab><ion-icon name="attach"></ion-icon></button>
  <ion-fab-list side="bottom">
    <button ion-fab (click)="takePicture()"><ion-icon name="camera"></ion-icon></button>
	  <button ion-fab (click)="getImage()"><ion-icon name="image"></ion-icon></button>
    <!--<button ion-fab (click)="openLocationShare()"><ion-icon name="pin"></ion-icon></button>-->
  </ion-fab-list>
</ion-fab>

<ion-content #content (click)="hideFab()">
  <div class="chatwindow" id="chat-list" [style.visibility]="isChatListVisible ? 'visible' : 'hidden'">

  		<ion-infinite-scroll (ionInfinite)="doInfinite($event)" position="top" enabled="infiniteEnabled" threshold="1%">
	   		<ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
		</ion-infinite-scroll>

	  <ion-list no-lines>
	    <ion-item *ngFor="let item of chatMessages"  text-wrap (press)="showMessageMeta(item)">
	        <ion-avatar item-right *ngIf="item.senderId === myId">
	          <img src="{{baseURL + item.profilePic}}">
	        </ion-avatar>
	        <ion-avatar item-left *ngIf="item.senderId != myId">
	          <img src="{{baseURL + item.profilePic}}">
	        </ion-avatar>

	        <div class="bubble" [ngClass]="(item.senderId === myId)?'me':'you'">

	        	<h3 *ngIf="item.dataType == null">{{ item.message }}</h3>

	            <div *ngIf="item.dataType == 'location'" (click)="goToGoogleMap(getLocation(item.data))"><img [src]="getStaticMap(item.data)"></div>

	            <div *ngIf="item.dataType == 'image'"><img (click)="showPicture($event)" class="message-content-picture" [src]="getImageURL(item.data)"></div>

	            <!-- <div *ngIf="item.dataType == 'gif'"><img (click)="showPicture($event)" class="message-content-picture" [src]="getImageURL(item.data)"></div> -->

            	<small>{{item.createdOn | date:'HH:mm' }}</small>
	        </div>

	    </ion-item>
	  </ion-list>

  </div>
</ion-content>

<ion-footer ion-fixed *ngIf="valid">
  <ion-toolbar class="no-border" color="white">

  	<div>
	  	<ion-input [(ngModel)]="msgText" class="msgBox" placeholder="Write your message..." (click)="hideFab(true)"></ion-input>
	   <!--  <ion-textarea autoresize="100" [(ngModel)]="msgText" class="msgBox" placeholder="Write your message..."></ion-textarea> -->
	</div>

    <ion-buttons end class="send-wrap" (click)="hideFab(true)">
      <button ion-button (mousedown)="sendMessage(); $event.preventDefault()" [disabled]="msgText === ''">
        <ion-icon name="send" class="sendIcon"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
