page-chat-window{
.bar-button-default-md:hover:not(.disable-hover), .bar-button-clear-md-default:hover:not(.disable-hover), .bar-button-md-default:hover:not(.disable-hover){
	color: #FFF;
}
ion-avatar{
	display: inline-block;
	vertical-align: middle;
	max-width: 40px;
}
ion-fab[right]{
	right: 50px;
}
.fab-md{
	background-color: transparent;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}
ion-fab[top]{
	top: 0px;
}
.img-radius{
	border-radius: 50%;
}
.img-square{
	width: 40px;
	height: 40px;
}
ion-fab-list{
	margin: 55px 0;
}
.fab-md-in-list{
	//color: #E85F2F;
	-webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
	box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
	background-color: #FFF;
}
.msgBox{
	color: #000;
	display: inline-block;
	width: 85%;
}
.msgBox textarea{
	margin: 0;
	padding: 10px 0;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #FFF;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #FFF;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #FFF;
}
:-moz-placeholder { /* Firefox 18- */
  color: #FFF;
}
ion-footer{
	padding: 5px;
}
ion-footer .toolbar{
	overflow: visible;
	display: contents;

}
ion-footer .toolbar-background{
	background: #FFF;
}
ion-footer .toolbar-content{
	border: 1px solid #ddd;
	border-radius: 25px;
	max-width: calc(100% - 55px);
}
ion-footer .send-wrap{
	display: inline-block;
    right: 0;
    position: absolute;
    padding-top: 5px;
}
.sendIcon{
	color: #FFF;
	background-color: #E85F2F;
	border-radius: 50%;
	padding: 13px 14px;
}
ion-footer::before{
	background: none;
	content: none;
}
.insertEmojiIcon{
	color: #DDD;
	font-size: 30px;
}
ion-footer .toolbar-content ion-buttons{
	display: inline-block;
	max-width: 10%;
	vertical-align: middle;
}


.bubble{
    background-color: #F2F2F2;
    border-radius: 5px;
    box-shadow: 0 0 6px #B2B2B2;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    vertical-align: top;
}

.bubble::before {
    background-color: #F2F2F2;
    content: "\00a0";
    display: block;
    height: 16px;
    position: absolute;
    top: 11px;
    transform:             rotate( 29deg ) skew( -35deg );
        -moz-transform:    rotate( 29deg ) skew( -35deg );
        -ms-transform:     rotate( 29deg ) skew( -35deg );
        -o-transform:      rotate( 29deg ) skew( -35deg );
        -webkit-transform: rotate( 29deg ) skew( -35deg );
    width:  20px;
}

.you {
    float: left;
    margin: 5px 45px 5px 20px;
}

.you::before {
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
    left: -9px;
}

.me {
    float: right;
    margin: 5px 20px 5px 45px;
}

.me::before {
    box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4 );
    right: -9px;
}

.sebm-google-map-container {
	height: 25vh;
	width: 35vh;
}
.message-content-picture{
	max-width: 150px;
	display: unset !important;
}
.message-content-picture.img-loaded img{
	max-width: 150px;
}
.toolbar-title-md{
	padding-left: 0;
}
emoji-content{
	width: 100vw !important;
}
emoji-content{
	display: none !important;
}
}


.ios{
	page-chat-window{
		.fab{
			height: 30px;
			width: 30px;
			top: 25px !important;
			right: -25px !important;
			&.fab-close-active{
				ion-icon.fab-close-icon{
					position: relative;
					top: -15px;
				}
			}
		}
		ion-fab-list{
			left: -10px;
			top: -15px;
		}

		page-chat-window ion-fab[top]{
			top: 10px;
			right: 5px;
		}
	}
}