<ion-header style="background: white;">

  <ion-navbar>
    <ion-title>Add Chat</ion-title>
  </ion-navbar>

  <ion-searchbar [showCancelButton]="false" placeholder="Search..." [(ngModel)]="search_text">
  </ion-searchbar>

</ion-header>

<ion-content>
  <ion-list class="mt60">
    <ion-item *ngFor="let user of users | filter:'firstName':search_text" (click)=goToChatWindow(user.id)>
      <ion-avatar item-start>
        <img src="{{baseURL + user.profilePic}}">
      </ion-avatar>
      <h2>{{ user.firstName +" "+ user.lastName }} <span class="lastMessageTime">{{ user.lastMessageTime }}</span></h2>
      <p>{{ user.lastMessage }}</p>
    </ion-item>
  </ion-list>
</ion-content>
