<!--
  Generated template for the ReasonPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Report Reason</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list [(ngModel)]="myReason" radio-group>
    <ion-list-header>
      Please Provide Us Reason to Report
    </ion-list-header>

    <ion-item *ngFor="let reason of reasonList; index as i">
      <ion-label>{{reason.value}}</ion-label>
      <ion-radio value={{reason.id}} (ionSelect)="selected(i)"></ion-radio>
    </ion-item>
  </ion-list>
  <ion-input *ngIf="showOption" type="text" [(ngModel)]="optionalReason" name="optionalReason" placeholder="Enter more detail (optional)"></ion-input>
  <ion-row center>
    <ion-col text-center>
      <button ion-button  color="danger" [disabled]="!myReason || (myReason=='others' && !optionalReason)" (click)="provideReason()"  round>Submit</button>
    </ion-col>
  </ion-row>
</ion-content>
