page-conreq {
  .scroll-content{
    padding-top: 0px !important;
  }
  .item-md ion-thumbnail {
      min-width: 0px;
      min-height: 0px;
  }
  .img-radius{
    border-radius: 50%;
    height: 60px !important;
    width: 60px !important;
  }
  .info-title{
    font-weight: bold;
    font-size: 1.5rem;
  }
  .padding {
    padding-top: 17px;
  }
  .row {
    margin-left: 10px;
  }
  .button-small-md{
    height:1.7em !important;
  }
  .myButton{
    margin-top: -10px;
  }
  .button-round-md{
    padding: 0px;
    float: right !important;
    height: 2.3em !important;
    width: 2.3em !important;
    border-radius: 50% !important;
    &.check{
      border: 1px solid #9b99ec !important;
    }
    &.close{
      margin-left: 20px;
      border: 1px solid #e93a3a !important;
    }
  }
}


.ios{
  page-conreq{
    button{
      padding: 8px;
      &.close{
        margin-right: 10px;
      }
    }
    .scroll-content{
      margin-top: 60px !important;
    }
  }
}