<!--
  Generated template for the ConreqPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Requests</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="no-result-found" *ngIf="reqlist.length==0">
    <p>No Friend Request</p>
  </div>
  <ion-grid *ngFor="let user of reqlist" style="border-bottom: 1px solid #e8e8e8;">
    <ion-row>
      <ion-col col-3 text-center (click)="getinfo(user.id)">
        <ion-avatar item-start>
          <img src="{{baseURL + user.image}}" class="img-radius">
        </ion-avatar>
      </ion-col>
      <ion-col col-5 class="padding" (click)="getinfo(user.id)">
        <div class="info-title">{{user.name}}</div>
        <div class="info-desc">{{user.city}}</div>
      </ion-col>
      <ion-col col-4 class="padding">
        <button class="close" ion-button small round color="danger" outline (click)="actionReq(user.id,false)">
          <ion-icon style="font-size: 20px;" name="close"></ion-icon>
        </button>
        <button class="check" ion-button small round outline (click)="actionReq(user.id,true)">
          <ion-icon style="font-size: 20px;" name="checkmark"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>